<script setup>
import { ref, onBeforeMount } from 'vue';
import { Head, usePage } from '@inertiajs/vue2'
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import axios from 'axios';
import Kaldik from '@/Components/Rencana/Kaldik.vue'
import Jadwal from '@/Components/Rencana/Jadwal.vue';
import Rpe from '@/Components/Rencana/Rpe.vue';
import Prota from '@/Components/Prota/FormProta.vue'
import PetaCp from '@/Components/Rencana/PetaCp.vue'
import Prosem from '@/Components/Prosem/FormProsem.vue';

const $page = usePage()
const rombels = ref([])
const mode = ref('list')
const selectedRombel = ref({})
const confirm = ref({
    show: false,
    title: '',
    text: '',
    data: null
})
const loading =  ref(false)
const perangkat = ref(null)
// Methods 
const openMe = (perangkat, rombel) => {
    selectedRombel.value = rombel
    mode.value=perangkat
    // console.log(perangkat, rombel)
}
const flip = (r) => {
    perangkat.value = r
}
const closeMe = () => {
    mode.value = 'list'
}

onBeforeMount(() => {
    let datas = []
        $page.props.rombels.forEach(rombel => {
            rombel.perangkat = false
            datas.push(rombel)
        })
        rombels.value = datas
})
</script>

<template lang="pug">
DashboardLayout(pageTitle="Rencana")
    Head(title="Rencana Pembelajaran")
    div(:class="$vuetify.breakpoint.mobile ? 'pa-0': 'pa-5'")
        v-expand-transition
            v-row(v-if="mode == 'list'")
                v-col(v-if="loading" cols="12" sm="4" v-for="i in 9" :key="i")
                    v-skeleton-loader(type="card")
                v-col(cols="12" sm="4" v-for="(rombel, r) in rombels" :key="r")
                    v-card(:color="rombel.fase == 'A' ? 'success lighten-5' : (rombel.fase == 'B' ? 'warning lighten-5' : 'error lighten-5')" )
                        h1.label {{ rombel.fase }}
                        v-card-text
                            h3.mt-3.text-h4.font-weight-black {{ rombel.label }}
                            h4 
                                v-icon mdi-human-male
                                | {{ rombel.siswas.filter(s => s.jk == 'Laki-laki').length }} | 
                                v-icon mdi-human-female
                                | {{ rombel.siswas.filter(s => s.jk == 'Perempuan').length }} | 
                                v-icon mdi-human-male-female
                                | {{ rombel.siswas.length }}
                        v-card-actions 
                            v-btn(small color="primary" @click="flip(r)") 
                                v-icon mdi-books 
                                span Perangkat
                        v-expand-transition
                            v-card.transition-fast-in-fast-out.v-card--reveal(v-if="perangkat == r" style="height: 100%" :color="rombel.fase == 'A' ? '#0c5f1daa' : (rombel.fase == 'B' ? '#5f4d0caa' : '#fe4545aa')" dark)
                                v-card-title.ma-0.py-0 
                                    v-icon mdi-bookshelf
                                    span Perangkat  
                                    v-btn.ml-5(icon small color="white" absolute @click="perangkat = null" style="right:0;" )
                                        v-icon mdi-close
                                v-card-text.pt-3
                                    v-row(justify="center")
                                        v-btn.ma-1(small @click="openMe('kaldik', rombel)" color="primary darken-1") 
                                            v-icon mdi-calendar 
                                            span Kaldik
                                        v-btn.ma-1(small @click="openMe('jadwal', rombel)" color="info darken-1" ) 
                                            v-icon mdi-timetable 
                                            span Jadwal
                                        v-btn.ma-1(small @click="openMe('rpe', rombel)" color="success darken-1" ) 
                                            v-icon mdi-timetable 
                                            span RPE
                                        
                                        v-btn.ma-1(small @click="openMe('prota', rombel)"  color="error darken-1") 
                                            v-icon mdi-calendar
                                            span Prota
                                        v-btn.ma-1(small @click="openMe('prosem', rombel)" color="accent darken-1" ) 
                                            v-icon mdi-calendar
                                            span Prosem
                                        v-btn.ma-1(small @click="openMe('PetaCp', rombel)"  color="warning darken-1") 
                                            v-icon mdi-timeline-check 
                                            span CP|TP|ATP
                                        v-btn.ma-1(small @click="mode='kaldik'"  color="primary darken-1") 
                                            v-icon mdi-book-multiple
                                            span Modul Ajar
            Kaldik(v-if="mode=='kaldik'" @close="closeMe")
            Jadwal(v-if="mode=='jadwal'" @close="closeMe")
            Rpe(v-if="mode=='rpe'" @close="closeMe" :rombel="selectedRombel")
            Prota(v-if="mode=='prota'" @close="closeMe" :rombel="selectedRombel")
            PetaCp(v-if="mode=='PetaCp'" @close="closeMe" :rombel="selectedRombel")
            Prosem(v-if="mode=='prosem'" @close="closeMe" :rombel="selectedRombel")
</template>

<style scoped>
h1.label {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 5em;
    color: white;
    transition: all .35s linear;
    cursor: pointer;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
h1.label:hover {
    transform: rotate(-15deg);
    transition: all .35s linear;
    text-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
</style>