<script>
import axios from 'axios';
import XLSX from 'xlsx';
export default {
    name: 'AturSiswa',
    props: {
        Rombel: Object
    },
    data: () => ({
        mode: 'input',
        siswas: [
        ],
        headers: [
            {text: 'NISN',value: 'nisn'},
            {text: 'Nama',value: 'nama'},
            {text: 'JK',value: 'jk'},
            {text: 'Opsi',value: 'opsi'},
        ],
        emptyRow: {
            nisn: 'Masukkan NISN ',
            nama:'Masukkan Nama',
            jk: 'Masukkan Jenis Kelamin'
        }
    }),
    methods: {
        onFilePicked(e) {
            let file = e.target.files[0]
            let reader = new FileReader()
            reader.onload = async (e) => {
                let wb = await XLSX.read(e.target.result)
                this.siswas = await XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]])
                this.loading = false
            }
            reader.readAsArrayBuffer(file)
        },
        async kirim() {
            await axios.post('/rombel/impor-siswa', {data: this.siswas, rombel_id: this.Rombel.kode_rombel, sekolah_id:this.$page.props.sekolahs[0].npsn})
                        .then(res => {
                            this.siswas = []
                            this.$emit('close')
                        }).catch(err => {
                            if (err.response.data.msg.includes('23000')) {
                                alert('Terdeteksi NISN duplikat atau double. Cek lagi NISN siswa');
                            }
                        })
        },
        impor() {
            this.mode = 'impor'
            this.$refs.fileSiswa.click()
        },
        // editMe(e) {
        //     // e.target.innerHTML = ''
        //     e.target.setAttribute("contenteditable", true)
        // },
        inlineEdit($event, index, field) {
            
            this.siswas[index][field] = $event.target.innerHTML.replace(/(?:^(?:&nbsp;)+)|(?:(?:&nbsp;)+$)/g, '')
        },
        newRow(index) {
            
            this.siswas.splice(index+1,0, {nisn:'klik u/ menambah',nama:'nama',jk:'jk'})
        },
        deleteRow(index) {
            this.siswas.splice(index,1)
        }
    },
    beforeMount() {
        if(this.Rombel.siswas.length > 0) this.siswas = this.Rombel.siswas
        else this.newRow()
    }
}
</script>

<template lang="pug">
v-card 
    v-toolbar 
        v-toolbar-title Pengaturan Siswa {{ Rombel.label }}
        v-spacer 
        input.d-none(type="file" @change="onFilePicked" ref="fileSiswa" accept=".xlsx,.xls,.ods")
        v-btn.mx-2(small color="success" @click="impor")
            v-icon mdi-file-excel 
            span Impor Siswa
        v-btn.mx-2(small color="info" @click="kirim" v-if="siswas.length > 0")
            v-icon mdi-send
            span Kirim
        v-btn(fab color="error" small @click="$emit('close')")
            v-icon mdi-close
    v-card-text 
        v-container 
            v-data-table(:items="siswas" :headers="headers" v-if="mode == 'impor'")
                template(v-slot:item.opsi="{item}")
                    v-btn(icon color="error" small @click="deleteRow(s)")
                        v-icon mdi-minus-circle
            v-simple-table(v-if="mode == 'input'" dense)
                thead
                    tr
                        th NISN
                        th Nama
                        th JK
                        th Opsi 
                tbody
                    tr(v-for="(siswa,s) in siswas" :key="s")
                        td(contenteditable @blur="inlineEdit($event, s, 'nisn')") {{ siswa.nisn }}
                        td(contenteditable="true" @blur="inlineEdit($event, s, 'nama')") {{ siswa.nama }}
                        td(contenteditable="true" @blur="inlineEdit($event, s, 'jk')") {{ siswa.jk }}
                        td
                            v-btn(icon color="primary" small @click="newRow(s)")
                                v-icon mdi-plus-circle
                            v-btn(icon color="error" small @click="deleteRow(s)")
                                v-icon mdi-minus-circle
</template>