<script>
// import defaultImage from '@/Plugins/misc';
export default {
    name: 'FormRombel',
    props: { selectedRombel: Object },
    data: () => ({
        rombel: {},
        gurus: [],
        tingkats: [
            {text: 'I (SATU)', value: '1' },
            {text: 'II (DUA)', value: '2' },
            {text: 'III (TIGA)', value: '3' },
            {text: 'IV (EMPAT)', value: '4' },
            {text: 'V (LIMA)', value: '5' },
            {text: 'VI (ENAM)', value: '6' },
        ],
        avatar: '',
        loading: false
    }),
    methods: {
        async saveRombel() {
            this.loading = true
            await axios.post('/rombel/store', this.rombel)
            .then(res => {
                this.loading = false
                this.$emit('close')
            }).catch(err => {
                if (err.response.data.errCode == 23000) {
                    this.loading = false
                    alert("Kode Rombel Sudah digunakan. Coba yang lain")
                } else {
                    alert(err.response.data.msg)
                }

                
            })
            
            
        },
        setRombel() {
            const periode = this.$page.props.periode
            const sekolah = this.$page.props.sekolahs[0]
            this.rombel.periode_id = periode.kode_periode
            this.rombel.kode_rombel = periode.kode_periode+'-'+sekolah.npsn+'-'+this.rombel.tingkat+(this.rombel.pararel == '0' ? '' : this.rombel.pararel)
            let tingkat = this.tingkats.filter(tingkat => tingkat.value === this.rombel.tingkat)
            this.rombel.label = tingkat[0].text +' '+ this.rombel.pararel.toUpperCase()
            this.rombel.sekolah_id = sekolah.npsn
            this.rombel.guru_id = this.$page.props.user.guru.id
            this.rombel.fase = parseInt(this.rombel.tingkat) <= 2 ? 'A' : (parseInt(this.rombel.tingkat) <= 4 ? 'B' : 'C')
        },
        defaultImage($event) {
            $event.target.src = '/img/img-placeholder.jpg'
        }
    },
    mounted() {
        if(this.selectedRombel.id) {
            let rombel = this.selectedRombel
            let kode = rombel.kode_rombel.split('-')
            let kelas = kode[kode.length -1]
            let pararel = kelas.length == 1 ? '' : kelas[kelas.length-1]
            rombel.pararel = pararel
            this.rombel = rombel


            this.avatar = `storage/img/guru/${rombel.guru_id}.jpg`
        }
    },
    computed: {
        
    }
}
</script>

<template lang="pug">
v-container
    v-row
        v-col
            v-card(color="success lighten-4")
                v-card-title.pa-0
                    v-toolbar(dense color="primary" dark)
                        h3 
                            v-icon.mb-1 mdi-google-classroom
                            span &nbsp; Rombel {{selectedRombel ? selectedRombel.label : 'Baru'}}
                        v-spacer
                        v-btn(fab small color="error" @click="$emit('close')")
                            v-icon mdi-close
                v-card-text
                    v-form(ref="formRombel" @submit.prevent="saveRombel" :disabled="loading")
                        v-container
                            v-row
                                v-col(cols="12" sm="4")
                                    v-row
                                        v-col.d-flex.justify-center
                                            v-avatar(size="200")
                                                v-img(:src="`storage/img/guru/${$page.props.user.id}.jpg`" )
                                                    template(v-slot:placeholder)
                                                        v-row.fill-height.ma-0(align="center" justify="center")
                                                            v-progress-circular(indeterminate color="pink")
                                                    v-row.fill-height.ma-0(align="end" justify="center") 
                                                        p {{$page.props.user.guru.fullname}}
                                v-col(cols="12" sm="8")
                                    v-row
                                        v-col(cols="8" sm="4")
                                            v-select(label="Tingkat" :items="tingkats" item-text="text" item-value="value" v-model="rombel.tingkat" solo)
                                        v-col(cols="4" sm="4")
                                            v-select(label="Pararel" v-model="rombel.pararel" :items="[{text:'0', value:''},{text: 'A', value: 'a'},{text: 'B', value: 'b'},{text: 'C', value: 'c'}]" item-key="value" item-text="text" @input="setRombel" solo)
                                        v-col(cols="12" sm="4")
                                            v-text-field(label="Kode Rombel" v-model="rombel.kode_rombel" solo)
                                    v-row
                                        v-col(cols="4" sm="4")
                                            v-text-field(label="Label" v-model="rombel.label" solo)
                                        v-col(cols="4" sm="4")
                                            v-select(label="Kurikulum" :items="['k13','merdeka']" v-model="rombel.kurikulum" solo)
                                        v-col(cols="4" sm="4")
                                            v-select(label="Fase" :items="['A','B', 'C']" v-model="rombel.fase" solo)
                                    v-row
                                        v-col
                                            v-btn(color="primary" type="submit" :block="$vuetify.breakpoint.name == 'xs'" :loading="loading") Simpan



                        
</template>

