<script>
import axios from 'axios'
export default {
    props: {
        selectedSekolah: Object
    },
    components: {  },
    data: () => ({
        sekolah: {
        },
        loading: false,
        logo: 'img/img-placeholder.jpg',
        fileLogo: null,
        required: [
            v => !!v || 'Harus Diisi'
        ],
        numbers: [
            v => !isNaN(v) || 'Harus Angka'
        ],
        isEmail: [
            v => /.+@.+\..+/.test(v) || 'Cek Format Email'
        ],
        valid: true,
    }),
    methods: {
        async saveSekolah(){
                this.loading = true
                let fd = new FormData()
                if(this.fileLogo) fd.append('logo', this.fileLogo)
                fd.append('sekolah', JSON.stringify(this.sekolah))
                await axios({
                    method: 'post',
                    url: '/sekolah/store',
                    data: fd
                }).then(res => {
                    this.loading = false
                    // this.$emit('close')
                }).catch(err => {
                    this.loading = false
                    console.log(err.response.data.msg)
                })
            // }
        },
        onLogoPicked(e) {
            e.preventDefault()
            let file = e.target.files[0]
            this.logo = URL.createObjectURL(file)
            this.fileLogo = file
        },
        setDefault($event){
           
        }
    },
    beforeMount() {
        this.sekolah = this.selectedSekolah ? this.selectedSekolah : {}
        // this.logo = this.selectedSekolah ? `storage/img/logo/${this.selectedSekolah.npsn}.png` : 'img/img-placeholder.jpg'
        if(this.selectedSekolah) {
            axios({
                method: 'get',
                url: `storage/img/logo/${this.selectedSekolah.npsn}.png`
            }).then(res => this.logo = `storage/img/logo/${this.selectedSekolah.npsn}.png`)
            .catch(err => this.logo = 'img/img-placeholder.jpg')
        }
    }
}
</script>

<template lang="pug">
v-card
    v-toolbar(dense color="primary" dark)
        v-toolbar-title Formulir Sekolah 
        v-spacer 
        v-btn(small color="error" fab @click="$emit('close')")
            v-icon mdi-close
    v-card-text
        v-row 
            v-col
                h3
                    v-icon mdi-home
                    | Data Sekolah
                v-divider
                v-form(@submit.prevent="saveSekolah" :disabled="loading" ref="form")
                    v-container
                        v-row 
                            v-col(cols="12" sm="4") 
                                v-text-field(label="NPSN" v-model="sekolah.npsn" density="compact" required :rules="[numbers, required].flat()" hide-details="auto")
                            v-col(cols="12" sm="8") 
                                v-text-field(label="Nama Sekolah" v-model="sekolah.name" density="compact" hide-details="auto" :rules="required")
                            v-col(cols="12") 
                                v-text-field(label="Alamat Sekolah" v-model="sekolah.alamat" density="compact" hide-details="auto" :rules="required")
                            v-col(cols="12" sm="2") 
                                v-text-field(label="RT" v-model="sekolah.rt" density="compact" hide-details="auto")
                            v-col(cols="12" sm="2") 
                                v-text-field(label="RW" v-model="sekolah.rw" density="compact" hide-details="auto")
                            v-col(cols="12" sm="8") 
                                v-text-field(label="Desa" v-model="sekolah.desa" density="compact" hide-details="auto" :rules="required")
                            v-col(cols="12" sm="4") 
                                v-text-field(label="Kecamatan" v-model="sekolah.kecamatan" density="compact" hide-details="auto")
                            v-col(cols="12" sm="4") 
                                v-text-field(label="Kabupaten" v-model="sekolah.kabupaten" density="compact" hide-details="auto")
                            v-col(cols="12" sm="4") 
                                v-text-field(label="Kode Pos" v-model="sekolah.kode_pos" density="compact" hide-details="auto")
                            v-col(cols="12" sm="4") 
                                v-text-field(label="Telp" v-model="sekolah.telp" density="compact" hide-details="auto")
                            v-col(cols="12" sm="8") 
                                v-text-field(label="Email" v-model="sekolah.email" density="compact" hide-details="auto" :rules="isEmail")
                            v-col(cols="12" sm="8") 
                                v-text-field(label="Website" v-model="sekolah.website" density="compact" hide-details="auto")
                            v-col(cols="12" sm="6") 
                                v-text-field(label="Kepala Sekolah" v-model="sekolah.nama_ks" density="compact" hide-details="auto" :rules="required")
                            v-col(cols="12" sm="6") 
                                v-text-field(label="NIP Kepala Sekolah" v-model="sekolah.nip_ks" density="compact" hide-details="auto")
                        v-row(justify="center")
                            v-btn(color="primary" rounded type="submit") Simpan
            v-col(cols="4") 
                h3 Logo Sekolah
                v-divider
                p Klik gambar di bawah untuk mengganti logo sekolah
                div(width="100%")
                    input.d-none(type="file" ref="logo" @change="onLogoPicked" accept=".jpg, .png, .jpeg, .JPG, .JPEG")
                    v-img(:src="logo" width="50%" @click="$refs.logo.click()")
    
    
    </template>