<script>
import axios from 'axios'
import XLSX from 'xlsx'
export default {
    name: 'ImporSekolah',
    data: () => ({
        sekolahs: [],
        headers: [
            { text: 'No', value: 'no', sortable: false},
            { text: 'NPSN', value: 'npsn'},
            { text: 'Nama Sekolah', value: 'name'},
            { text: 'Alamat', value: 'alamat'},
            { text: 'RT', value: 'rt', sortable: false},
            { text: 'RW', value: 'rw', sortable: false},
            { text: 'Desa', value: 'desa'},
            { text: 'Telp', value: 'telp'},
            { text: 'Email', value: 'email'},
        ],
        loading: false,
    }),
    methods: {
        async onFilePicked(e) {
            this.loading = true
            const file = e.target.files[0]
            let reader = new FileReader()
            reader.onload = async (e) => {
                let wb = await XLSX.read(e.target.result)
                this.sekolahs = await XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]])
                this.loading = false
            }
            reader.readAsArrayBuffer(file)
        },
        async simpan() {
            this.loading = true
            await axios.post('/sekolah/impor', this.sekolahs)
                        .then(res => {
                            this.loading = false
                            this.$emit('close')
                        }).catch(err => {
                            console.log(err)
                        })
        }
    }
}
</script>

<template lang="pug">
v-card 
    v-toolbar(dense)
        v-toolbar-title Impor Data Sekolah 
        v-spacer 
        input.d-none(type="file" ref="fileSekolah" @change="onFilePicked")
        v-btn.mx-2(small color="success" @click="$refs.fileSekolah.click()")
            v-icon mdi-file-excel
            span Pilih File
        v-btn.mx-2(small color="warning" @click="simpan" v-if="sekolahs.length > 0" :disabled="loading")
            v-icon mdi-send
            span Kirim
        v-btn(fab color="error" @click="$emit('close')" small :disabled="loading")
            v-icon mdi-close
    v-card-text
        v-data-table(:items="sekolahs" :headers="headers" dense :loading="loading")
        
</template>