<script>
import axios  from 'axios';
export default {
    name: 'TableSekolah',
    data: () => ({
        search: null,
        loading: false,
        sekolahs: [],
        headers: [
            { text: 'Logo', value: 'logo'},
            { text: 'NPSN', value: 'npsn'},
            { text: 'Nama', value: 'name'},
            { text: 'Alamat', value: 'alamat'},
            { text: 'Email', value: 'email'},
            { text: 'Opsi', value: 'opsi'},
        ]
    }),
    async mounted() {
        await this.list()
    },
    methods: {
        async list() {
            this.loading = true
            await axios.post('/sekolah')
            .then(res => {
                this.sekolahs = res.data.sekolahs
                this.loading = false
            })
        },
        defaultImage() {
            return 'img/img-placeholder.jpg'
        },
        edit(item) {
            this.$emit('edit', item)
        },
        async hapus(item) {
            this.loading = true
            await axios.delete(`/sekolah/${item.id}`)
                        .then(res => {
                            this.list()
                            this.loading = false
                        })
        }
    }
}
</script>

<template lang="pug">
v-card 
    v-card-text
        v-data-table(:items="sekolahs" :headers="headers" :search="search" :loading="loading") 
            template(v-slot:top)
                v-container
                    v-row
                        v-col
                            h2 Data Sekolah
                        v-col
                            v-btn(color="primary" small @click="$emit('showForm')" v-if="$page.props.user.level == 'admin'") Tambah
                            v-btn.ml-1(color="success" small @click="$emit('impor')" v-if="$page.props.user.level == 'admin'") Impor
                        v-col 
                            v-text-field(label="Cari" solo dense hide-details v-model="search" :append-icon="search == null ? 'mdi-magnify' : ''" :clearable="search != null ? true: false")
            template(v-slot:item.logo="{item}")
                v-avatar(tile)
                    v-img(:src="`storage/img/logo/${item.npsn}.png`" alt="Logo" @error="defaultImage")
            template(v-slot:item.npsn="{item}")
                v-btn(text color="teal" @click="edit(item)") {{ item.npsn }}
            template(v-slot:item.opsi="{item}")
                v-btn(icon color="error" small @click="hapus(item)")
                    v-icon(small) mdi-delete
</template>

