<template lang="pug">
v-container 
    v-row 
        v-col(cols="12")
            v-card 
                v-card-title
                    h3 Formulir Prota 
                    v-spacer 
                    v-btn.mr-2(color="primary" @click="mode=`${mode == 'form' ? 'print': 'form'}`") 
                        v-icon mdi-file
                        <span v-if="mode=='form'">Mode Cetak</span>
                        <span v-if="mode=='print'">Mode Isian</span>
                    v-btn.mr-2(color="primary" @click="simpan") 
                        v-icon mdi-disk
                        | Simpan
                    v-btn(fab @click="emit('close')" small color="red lighten-1") 
                        v-icon(color="white") mdi-close
                v-card-text 
                    h4 Rombel/Kelas: {{ props.rombel.label }}
    v-row 
        v-col(cols="12" v-if="mode=='form'")
            v-expansion-panels 
                v-expansion-panel(v-for="(pembelajaran, pb) in pembelajarans" :key="pembelajaran.kode")
                    v-expansion-panel-header(color="success lighten-5" dark) 
                        h3 {{ pembelajaran.label }} 
                            v-btn(color="success" small ) {{ sumAw(pembelajaran.materis) }}
                    
                    v-expansion-panel-content
                        v-list 
                            v-list-item-group
                                template(v-for="(materi, m) in pembelajaran.materis" outlined)
                                    v-list-item
                                        v-list-item-title <span v-if="m < (pembelajaran.materis.length-1)">{{materi.kode.substr(-1)}}.</span> {{ materi.label }}
                                        v-list-item-action
                                            v-text-field(type="number" v-model="aw[materi.kode]" solo)
                                    v-divider
                    
    PrintProta(v-if="mode == 'print'" :rombel="props.rombel" @close="mode = 'form'")

</template>

<script setup>
import { ref, onBeforeMount, computed, watch } from 'vue'
import { usePage } from '@inertiajs/vue2'
import axios from 'axios';
import PrintProta from './PrintProta.vue'

const emit = defineEmits(['close'])

const props = defineProps({
    rombel: Object
})
const mode = ref('form')
const page = usePage();
const periode = page.props.periode

const sumAw = (materis) => {
    return materis.reduce((a,c) => a + (c.protas[0]?c.protas[0].aw:0),0)
    // return materis[0].protas[0].aw
}

const elements = ref({ 
        'qh': 'Al-Quran dan Hadits',
        'aq': 'Aqidah' ,
        'ak': 'Akhlak',
        'fq': 'Fiqih',
        'sp': 'Sejarah Peradaban Islam'
    });

const pembelajarans = ref([])
const cps = ref([])
const aw = ref([])
const jp = ref(0)

watch(aw.value, (newV, oldValue) => {

let wk = 0;
for(const k in newV) {
        const v = newV[k];
        wk += parseInt(v)
    }

    jp.value = wk

})

const simpan = async() => {
    await axios.post(route('prota.store', {rombel_id: props.rombel.kode_rombel, data: aw.value}))
                .then(res => console.log(res))
                .catch(err => console.log(err))
}

const init = async() => {
    // console.log(props.rombel)
    await axios.post(route('pembelajaran.index', {rombel: props.rombel.kode_rombel}))
                .then(res => {
                    pembelajarans.value = res.data.pembelajarans;
                    cps.value = res.data.cps
                    res.data.pembelajarans.forEach((pb, p) => {
                        pb.materis.forEach((mt, m) => {
                            aw.value[mt['kode']] = mt.protas[0] ? mt.protas[0].aw : 0
                        })
                        
                    })
                    // console.log(aw.value)
                }).catch(err => console.log(err));
}
onBeforeMount(() => {
    init();
})

</script>