<script setup>
import { ref, onBeforeMount, computed, watch } from 'vue'
import { usePage } from '@inertiajs/vue2'
import axios from 'axios';

const props = defineProps({
    rombel: Object
})

const page = usePage();
const periode = page.props.periode

const pembelajarans = ref([])
const cps = ref([])
const aw = ref([])
const jp = computed(() => {
    return protas.value.reduce((a,c) => a + parseInt(c.aw),0)
})


const protas = ref([]);

const subtot = (materis) => {
    return materis.reduce((a,c) => a + parseInt(c.protas[0].aw),0)
}

const init = async() => {
    await axios.post(route('prota.index', {_query: {rombel:props.rombel.kode_rombel}}))
                .then(res => {
                    pembelajarans.value = res.data.pembelajarans;
                    cps.value = res.data.cps
                    protas.value = res.data.protas
                    res.data.pembelajarans.forEach((pb, p) => {
                        pb.materis.forEach((mt, m) => {
                            aw.value[mt['kode']] = mt.protas[0] ? mt.protas[0].aw : 0
                        })
                        
                    })
                }).catch(err => console.log(err));
}

const cetak = async() => {
    let style = page.props.app_env == 'local' ? 'http://[::1]:5173/resources/css/app.css' : '/build/assets/app.css'
    let skrip = page.props.app_env == 'local' ? 'http://[::1]:5173/resources/js/app.js' : '/build/assets/app.js'
    let target = document.querySelector(".print")

    let html = `<!doctype html>
                    <html>
                        <head>
                            <title>Program Semester Kelas ${props.rombel.label}</title>  
                            <link rel="stylesheet" href="${style}" type="text/css" />
                            <style>
                                *,html,body {margin: 0;padding: 0;}
                                .row {
                                    display: flex;
                                    justify-content: space-between;
                                }
                                .text-center{text-align: center;}
                                .mt-10{margin-top: 3em;}
                                .mt-4{margin-top: 3em;}
                                .pa-2{padding: 1em;}
                                .pl-2{padding-left: 1em;}
                                .pl-4{padding-left: 1.5em;}
                                .pl-6{padding-left: 3em;}
                            </style>
                        </head>
                        <body>
                            ${target.outerHTML}
                        </body>
                    </html>
                `;
    let win = window.open("","_blank","width=1024,height=800")
    win.document.write(html)
    setTimeout(() => {
        win.print()
        win.close()
    }, 500);

}


onBeforeMount(() => {
    init();
})

</script>

<template lang="pug">
v-sheet.mt-4(elevation="1" color="grey lighten-4")
    v-toolbar.white--text(dense color="success")
        v-toolbar-title
            h3 Program Tahunan
        v-spacer
        v-btn.mr-2.black--text(color="success lighten-2" @click="cetak") 
            v-icon mdi-printer 
            | Cetak 


    


    v-spacer
    .print.pa-4
        h3.text-center.mt-5 PROGRAM TAHUNAN KURIKULUM MERDEKA 
        h3.text-center SEMESTER {{ periode.semester }} ( {{ periode.semester == '1' ? 'GANJIL' : 'GENAP' }} )
        h3.text-center TAHUN PELAJARAN {{ periode.tapel }}

        table.meta.mt-4
            tr
                td Satuan Pendidikan 
                td :
                td.font-weight-bold {{ page.props.sekolahs[0]?.name }}
            tr
                td Mata Pelajaran 
                td :
                td Pendidikan Agama Islam
            tr  
                td Kelas 
                td :
                td {{ rombel.label }}
            tr
                td Waktu / JP 
                td :
                td {{protas.length}} Pertemuan / {{ jp }} JP

        v-spacer 
        table(border="1" style="width: 100%;border-collapse:collapse;")
            thead
                tr
                    th Elemen 
                    th Capaian Pembelajaran
                    th Materi Pembelajaran 
                    th AW
            tbody
                tr(v-for="(pb, p) in pembelajarans" :key="pb.id")
                    td.pa-2(style="width: 15%;") {{ cps[p].elemen }}
                    td.pa-2(style="width: 50%;" ) {{ cps[p].teks }}
                    td.pa-2(style="width: 30%;") 
                        span.font-weight-bold {{ pb.label }}
                        ol.pl-4
                            li(v-for="(mt, m) in pb.materis" :key="mt.kode" type="A") {{ mt.label }}

                    td.pa-2() 
                        div.text-center.font-weight-black Sub: {{ subtot(pb.materis) }}
                        div.text-center(v-for="(mt,m) in pb.materis" :key="mt.kode+m") {{ mt.protas[0].aw }}
        br.ma-10
        v-row.row 
            v-col
                p.ma-0 Mengetahui 
                p.ma-0 Kepala Sekolah 


                p.mb-0.mt-10.text-decoration-underline.font-weight-bold {{ page.props.sekolahs[0].nama_ks }}
                p.ma-0 NIP. {{ page.props.sekolahs[0].nip_ks }}
            v-col
            v-col
                p.ma-0 Wagir, ...............
                p.ma-0 Guru PAI


                p.mb-0.mt-10.text-decoration-underline.font-weight-bold {{ page.props.user.guru.fullname }}
                p.ma-0 NIP. 
                    span(v-if="['pns','p3k'].includes(page.props.user.guru.status)") {{ page.props.user.guru.nip }}
        v-row 
            
        
</template>