<script>
import { router } from '@inertiajs/vue2';
import axios from 'axios';
export default {
    name: 'LoginForm',
    props: {
        show: Boolean
    },
    data: () => ({
        user: {},
        showPassword: false,
        loading: false,
        required:[ v => !!v || 'Harus diisi'],
        errors: {
            show: false,
            text: ''
        }
    }),
    methods: {
        async login() {
            this.loading = true
            await axios.post('/login', this.user)
                    .then( res => {
                        // this.loading = false
                        router.visit('/beranda')
                    }).catch(err => {
                        this.loading = false
                        this.errors= {show: true, text: err.response.data.errors}
                    })
        }
    }
}
</script>

<template lang="pug">
v-container
    v-card(width="400")
        v-toolbar(flat)
            v-toolbar-title 
                h3
                    v-icon.mb-1 mdi-account-tie
                    | Login
            v-spacer 
            //- v-btn(fab color="error" small @click="$emit('close')")
            //-     v-icon mdi-close
        v-card-text 
            v-form(@submit.prevent="login" :disabled="loading") 
                v-row 
                    v-col(cols="12")
                        v-text-field(label="Username" v-model="user.name" append-icon="mdi-fingerprint" :rules="required" hide-details="auto" solo)
                    v-col(cols="12")
                        v-text-field(label="Password" v-model="user.password" :type="showPassword ? 'text' : 'password'" :append-icon="showPassword ? 'mdi-eye-off' : 'mdi-eye'" @click:append="showPassword = !showPassword" :rules="required" hide-details="auto" solo color="success")
                    v-col(cols="12")
                        v-btn(block color="primary" type="submit" :loading="loading")
                            v-icon mdi-lock 
                            | Login
    v-snackbar(v-model="errors.show" color="error" top right)
        v-container
            h3
                v-icon mdi-alert-box-outline
                span {{ errors.text }}

</template>