<script>
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import { Head } from '@inertiajs/vue2';

export default {
    name: 'DashboardHome',
    components: { DashboardLayout, Head},
    
}
</script>

<template lang="pug">
DashboardLayout
    Head(title="About")
    h1 About