<template lang="pug">
v-app.d-flex(theme="dark" dark style="background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(168,253,45,1) 100%)") 
    Head(title="Marhaban")
    v-container(fill-height) 
        v-row 
            v-col(cols="12" justify="center" fill-height) 
                h1.white--text.text-center(rtl)  مرحبا بكم
                v-btn(fixed right top @click="mode='login'" v-if="mode=='kaldik' && !$page.props.user") Login
                v-btn(fixed right top href="/beranda" v-if="mode=='kaldik' && $page.props.user") Dashboard
                v-btn(fixed right top @click="mode='kaldik'" v-if="mode=='login' && !$page.props.user") Kembali
            v-col(style="display:flex; justify-content: center;" align="center")
                Kaldik(v-if="mode == 'kaldik'")
                LoginForm(v-if="mode == 'login'")
</template>

<script>
import { Head } from '@inertiajs/vue2'
import LoginForm from '@/Components/Auth/Login.vue'
import Kaldik from '@/Components/Rencana/Kaldik.vue';
export default {
    name: 'Welcome',
    components: { Head, LoginForm, Kaldik},
    data: () => ({
        mode: 'kaldik'
    }),
    methods: {
    }
}


</script>

<style>
    .v-app-bar--is-scrolled {
        background-color: pink;
    }
</style>