<script>
import axios from 'axios'
import { Head } from '@inertiajs/vue2';
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import TableGuru from '@/Components/Guru/TableGuru.vue';
import FormGuru from '@/Components/Guru/FormGuru.vue';
import FormAkun from '@/Components/Guru/FormAkun.vue';
import ImporGuru from '@/Components/Guru/ImporGuru.vue';
export default {
    name: 'Guru',
    components: { DashboardLayout, Head, TableGuru, FormGuru, FormAkun, ImporGuru },
    data: () => ({
        mode: 'list',
        selectedGuru: null,
    }),
    methods: {
        edit(item) {
            this.selectedGuru = item
            // alert(item.fullname)
            this.mode = 'form'
        },
        buatAkun(item) {
            this.selectedGuru = item
            this.mode = 'account'
        },
        
    }
}
</script>

<template lang="pug">
DashboardLayout
    Head(title="Guru")
    v-container
        v-expand-transition
            TableGuru(v-if="mode == 'list'" @showForm="mode = 'form'" @edit="edit" @buatAkun="buatAkun" @hapusAkun="hapusAkun" @impor="mode = 'impor'")
            FormGuru(v-if="mode == 'form'" @close="mode = 'list'" :selectedGuru="selectedGuru")
            FormAkun(v-if="mode == 'account'" @close="mode = 'list'" :selectedGuru="selectedGuru")
            ImporGuru(v-if="mode == 'impor'" @close="mode = 'list'")
</template>