<script>
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import { Head } from '@inertiajs/vue2';

export default {
    name: 'DashboardHome',
    components: { DashboardLayout, Head},
    
}
</script>

<template lang="pug">
DashboardLayout
    Head(title="Dashboard")
    v-container 
        v-row 
            v-col(cols="12")
                v-card(color="success" dark) 
                    v-card-text
                        h1 Selamat Datang {{ $page.props.user.guru ? $page.props.user.guru.fullname : $page.props.user.name }}
            v-col(cols="6" sm="4")
                v-card(color="pink" dark height="150")
                    v-card-text
                        v-row 
                            v-col.pt-9
                                v-icon(size="100") mdi-cogs 
                            h4.text-h3 Performa
            v-col(cols="6" sm="4")
                v-card(color="teal" dark height="150")
                    v-card-text
                        v-row 
                            v-col.pt-9 
                                v-icon(size="100") mdi-chart-line 
                            h4.text-h3 Rekap
            v-col(cols="6" sm="4")
                v-card(color="orange" dark height="150")
                    v-card-text 
                        h4 Rencana
</template>