<template lang="pug">
DashboardLayout
    Head(title="Kalender Pendidikan")
    v-container
        v-row
            v-col
                v-card 
                    v-toolbar(dense color="primary" dark)
                        v-toolbar-title
                            h4 
                                v-icon.mb-1 mdi-calendar
                                span Kalender Pendidikan Semester {{periode.kode_periode.substr(-1) == '1' ? 'Ganjil' : 'Genap'}} {{ periode.tapel }}
                        v-spacer 
                        v-btn(outlined small) 
                            v-icon mdi-printer
                            span.hidden-sm-and-down Cetak
                        v-btn.ml-2(outlined small) 
                            v-icon mdi-file-excel
                            span.hidden-sm-and-down Impor
                    v-card-text
                        v-row
                            v-col Klik Kanan untuk menghapus Agenda Kegiatan
                        v-row
                            v-col(cols="12" sm="4" v-for="(month,i) in months" :key="i")
                                v-card
                                    v-toolbar(flat)
                                        h3 {{bulan(month.start)}}
                                    v-sheet
                                        v-calendar(:start="month.start" :end="month.end" locale="id" @click:date="modalDate" :events="events" @click:event='selectEvent' @contextmenu:event="hapus")
                                            template(v-slot:event="{event}" )
                                                p {{ event.name }}


    v-snackbar(v-model="snackbar.show" color="error" v-html="snackbar.text" top)


    v-dialog(v-model="dialogDate" v-if="dialogDate" max-width="600")
        v-card(:color="selectedEvent.color")
            v-toolbar(dense :color="`${selectedEvent.color} darken-2`" dark)
                v-card-title
                    h4 Agenda
                v-spacer
                v-btn(fab @click="dialogDate = !dialogDate; selectedEvent = null;" small color="error")
                    v-icon mdi-close
            v-card-text
                v-form(ref="eventForm" @submit.prevent="saveEvent")
                    v-container
                        v-row
                            v-col
                                v-text-field(label="Nama Agenda" v-model="selectedEvent.name" dense solo)
                        v-row
                            v-col
                                v-text-field(type="date" v-model="selectedEvent.start" label="Mulai" dense solo)
                            v-col
                                v-text-field(type="date" v-model="selectedEvent.end" label="Selesai" dense solo)
                        v-row
                            v-col(cols="12" sm="4")
                                v-select(auto-grow label="Libur" v-model="selectedEvent.is_libur" dense :items="[{value: 0, text: 'AKtif'},{value: 1, text: 'Libur'},]" solo)
                            v-col
                                v-textarea(auto-grow label="Keterangan" v-model="selectedEvent.description" dense rows="2" solo)
                        v-row
                            v-col
                                v-btn(fab small v-for="(color,i) in colors" :key="i" style="border:2px solid white!important; margin: 2px 3px;" :color="color" @click="selectedEvent.color=color")
                        v-row
                            v-col
                                v-btn(type="submit" :color="`${selectedEvent.color} darken-2`" block) Simpan


</template>

<script>
import _ from 'lodash'
import DashboardLayout from '../../Layouts/DashboardLayout.vue'
import axios from 'axios'
import { Head } from '@inertiajs/vue2'
import moment from 'moment'
export default {
    name: 'Kaldik',
    components: {DashboardLayout, Head},
    data: () => ({
        snackbar: {
            show: false,
            color: 'error',
            text: ''
        },
        selectedDate: null,
        dialogDate: false,
        events: [],
        selectedEvent: null,
        colors: ['primary','info','success','warning','error', 'purple','teal']
    }),
    async mounted() {
        await axios.post('/kaldik')
                .then(res => {
                    this.events = res.data.kaldiks
                }).catch(err => console.log(err))
        // this.events = response.data
    },
    methods: {
        async hapus(e) {
            // e.prevetDefault()
            await axios.delete(`/kaldik/${e.event.id}`)
                .then(res => {
                    let toRemove = this.events.map(event => event.id).indexOf(e.event.id)
                    this.events.splice(toRemove, 1)
                    this.snackbar = {
                        show: true,
                        text: res.data.msg,
                        color: 'success'
                    }
                }).catch(err => {
                    this.snackbar = {
                        show: true,
                        text: err.response.data.msg,
                        color: 'error'
                    }
                })
        },
        modalDate({date}) {
            // this.selectedDate = date
            this.dialogDate = true
            this.selectedEvent = {
				mode: 'new',
				start: date,
				end: date,
				color: ''
			}
        },
        async saveEvent() {
            await axios.post('/kaldik/store', this.selectedEvent)
                .then(res => {
                    this.events.push(this.selectedEvent)
                    this.dialogDate = false
                }).catch(err => console.log(err))
        },
        selectEvent(e) {
            this.selectedEvent = e.event
            this.dialogDate = !this.dialogDate
        },
        bulan(date) {
            let tanggal = new Date(date).toISOString()
            return moment(tanggal).format('MMMM YYYY')
        }
    },
    computed: {
        months() {
            // let periode = sessionStorage.getItem('periode')
            let semester = this.periode.kode_periode.substr(-1,1) == '1' ? [7,8,9,10,11,12] : [1,2,3,4,5,6]
            let months = []
            const today = new Date()
            let tahun = this.periode.kode_periode.substr(-1,1) == '1' ? this.periode.kode_periode.substr(0,2) : this.periode.kode_periode.substr(2,2)
            for(const m of semester) {
                months.push({
                    start: moment(new Date('20'+tahun+'-'+m)).startOf('month').format('YYYY-MM-DD'),
                    end: moment(new Date('20'+tahun+'-'+m)).endOf('month').format('YYYY-MM-DD')
                })
            }
            return months
        },
        periode() {
            return this.$page.props.periode

        }
    }
}
</script>