<template lang="pug">
DashboardLayout
    Head(title="Periode")
    v-container
        v-card
            v-card-text
                v-simple-table
                    template(v-slot:top)
                        v-container
                            v-row
                                v-col.d-flex(cols="12")
                                    h1 
                                        v-icon.mb-1 mdi-calendar
                                        span Periode
                                    v-spacer
                                    v-btn(small color="primary" @click="addPeriode") Tambah

                    template(v-slot:default)
                        thead
                            tr
                                th Kode Periode
                                th Tapel
                                th Semester
                                th deskripsi
                                th Status
                        tbody
                            tr(v-for="(item, index) in periodes" :key="index")
                                td {{item.kode_periode}}
                                td {{item.tapel}}
                                td {{item.semester}}
                                td {{item.deskripsi}}
                                td
                                    v-icon(:color="item.is_active ? 'success' : 'error'" @click="togglePeriode(item)") {{item.is_active ? 'mdi-check-circle' : 'mdi-close-circle'}}

    v-dialog(v-if="dialog.mode == 'periode'" v-model="dialog.show" max-width="400" @click:outside="$emit('fetch')")
        v-card
            v-card-title.pa-0
                v-toolbar(dense dark color="primary")
                    h4 
                        v-icon mdi-calendar
                        |Periode
                    v-spacer
                    v-btn(small fab color="error" @click="dialog= {show: false}")
                        v-icon mdi-close
            v-card-text
                v-form.mt-5(ref="formPeriode" @submit.prevent="savePeriode")
                    v-row
                        v-col(cols="12" sm="6")
                            v-text-field(label="Mulai" v-model="newPeriode.start" dense hide-details type="date")
                        v-col
                            v-text-field(label="Selesai" v-model="newPeriode.end" dense hide-details type="date" @input="setPeriode")
                    v-row
                        v-col
                            v-text-field(label="Kode Periode" v-model="newPeriode.kode_periode" dense hide-details)
                        v-col
                            v-text-field(label="Tapel" v-model="newPeriode.tapel" dense hide-details)
                    v-row
                        v-col(cols="12" sm="4")
                            v-text-field(label="Semester" v-model="newPeriode.semester" dense hide-details)
                        v-col
                            v-text-field(label="Deskripsi" v-model="newPeriode.deskripsi" dense hide-details)
                    
                    v-row
                        v-col
                            v-btn(block color="primary" type="submit") Simpan
</template>

<script>
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import { Head } from '@inertiajs/vue2'
import axios from 'axios'
export default {
    name: 'Periode',
    components: {DashboardLayout, Head},
    data: () => ({
        dialog: {show: false, mode: 'periode'},
        newPeriode: {},
        selectedPeriode: null,
        periodes: []
    }),
    methods: {
        addPeriode() {
            this.dialog = { show: true, mode:"periode"}
        },
        async savePeriode() {
            await axios.post('/periode/store', this.newPeriode)
            this.newPeriode = {}
            this.list()
        },
        async togglePeriode(item) {
            await axios.put(`/periode/${item.id}`)
            this.list()
        },
        setPeriode(e) {
            let months = ['Januari', 'Februari','Maret','April','Mei','Juni','Juli','Agustus','September','Oktober','November','Desember']
            let start = this.newPeriode.start.split('-')
            let end = this.newPeriode.end.split('-')
            let tapel = parseInt(start[1]) > 6 ? start[0] + '/' + ( parseInt(end[0]) + 1) : (parseInt(start[0]) - 1) + '/' + end[0]
            let kode_periode = parseInt(start[1]) > 6 ? start[0].substr(2,2) + ( parseInt(end[0].substr(2,2)) + 1) + 1 : ( parseInt(start[0].substr(2,2)) - 1) + end[0].substr(2,2) + 2
            // alert(tapel)
            this.newPeriode.tapel = tapel
            this.newPeriode.kode_periode = kode_periode
            this.newPeriode.semester = parseInt(start[1]) > 6 ? 1 : 2
            this.newPeriode.deskripsi = 'Semester ' + (parseInt(start[1]) > 6 ? 'Ganjil' : 'Genap') + ' ' + tapel
        },
        list() {
            axios.post('/periode')
                .then(res => {
                    this.periodes = res.data.periodes
                }).catch(err => {
                    console.log(err)
                })
        }
    },
    async mounted() {
        await this.list()
    }
}
</script>