<template lang="pug">
DashboardLayout
    Head(title="Profil")
    v-container 
        v-col(cols="12" sm="4")
            v-card 
                v-card-text 
                    v-img(src="/img/guru")
        v-col(cols="12" sm="8")
            v-card 
                v-card-text 
                    p {{ $page.props.user.guru.fullname }}

</template>

<script setup>
import axios from 'axios';
import { ref, computed } from 'vue';
import { Head, usePage } from '@inertiajs/vue2';
import DashboardLayout from '@/Layouts/DashboardLayout.vue';

const page = usePage();
const avatar = ref('');

</script>