<script>
import { Head } from '@inertiajs/vue2'
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
import FormRombel from '@/Components/Rombel/FormRombel.vue';
import AturSiswa from '@/Components/Rombel/AturSiswa.vue';
import ConfirmDialog from '@/Components/ConfirmDialog.vue'
import axios from 'axios';
export default {
    name: 'Rombel',
    components: { DashboardLayout, Head, FormRombel, AturSiswa, ConfirmDialog },
    data: () => ({
        rombels: [],
        mode: 'list',
        selectedRombel: {},
        confirm: {
            show: false,
            title: '',
            text: '',
            data: null
        },
        loading: false
    }),
    methods: {
        closeForm() {
            this.mode = 'list'
            this.selectedRombel = {}
            this.list()
        },
        async list() {
            this.loading = true
            await axios.post('/rombel')
                    .then(res => {
                        this.rombels = res.data.rombels
                        this.loading = false
                    }).catch(err => console.log(err))
        },
        async hapus(rombel) {
            if ( await this.$refs.confirm.open(`Yakinkah?`, `Anda akan menghapus rombel ${rombel.label}`)) {
                await axios.delete(`/rombel/${rombel.id}`)
                            .then(res => {
                                this.$refs.confirm.close()
                                this.list()
                            }).catch(err => {
                                console.log(err)
                            })
            }
        },
        async hapusSiswa(rombel) {
            if ( await this.$refs.confirm.open('Yakinkah?', `Siswa di Rombel ${rombel.label} akan terhapus semua!`)) {
                await axios.delete(`/siswa/by-rombel/${rombel.kode_rombel}`,)
                    .then(res => {
                        this.$refs.confirm.close()
                        this.list()
                    }).catch(err => {
                        console.log(err)
                    })
            }
        },
        aturSiswa(rombel) {
            this.mode = 'manage'
            this.selectedRombel = rombel
        },
        edit(rombel) {
            this.selectedRombel = rombel
            this.mode = 'form'
        }
    },
    beforeMount() {
        this.list()
    }
}
</script>

<template lang="pug">
DashboardLayout(pageTitle="Rombel")
    v-btn(v-if="mode == 'list'" fab fixed right color="primary" @click="mode = 'form'" bottom style="bottom:20px;")
        v-icon mdi-plus
    Head(title="Rombel/Kelas")
    v-container 
        v-expand-transition
            v-row(v-if="mode == 'list'")
                v-col(v-if="loading" cols="12" sm="4" v-for="i in 9" :key="i")
                    v-skeleton-loader(type="card")
                v-col(cols="12" sm="4" v-for="(rombel, r) in rombels" :key="rombel.kode")
                    v-card(:color="rombel.fase == 'A' ? 'success lighten-5' : (rombel.fase == 'B' ? 'warning lighten-5' : 'error lighten-5')")
                        h1.label {{ rombel.fase }}
                        v-card-text
                            v-btn(:color="rombel.fase == 'A' ? 'success' : (rombel.fase == 'B' ? 'warning' : 'error')"   @click="edit(rombel)" outlined small)
                                template(v-slot:default)
                                    small.text-left {{ rombel.kode_rombel }}
                                    br
                                    small(v-if="$page.props.user.level == 'admin'") {{ rombel.sekolah.name }}
                            v-btn(fab x-small color="error" absolute right style="top:5px;right: 5px;" @click="hapus(rombel)")
                                v-icon mdi-close
                            h3.mt-3.text-h4.font-weight-black {{ rombel.label }}
                            h4 
                                v-icon mdi-human-male
                                | {{ rombel.siswas.filter(s => s.jk == 'Laki-laki').length }} | 
                                v-icon mdi-human-female
                                | {{ rombel.siswas.filter(s => s.jk == 'Perempuan').length }} | 
                                v-icon mdi-human-male-female
                                | {{ rombel.siswas.length }}
                        v-card-actions.d-flex.justify-center 
                            v-btn(color="info" small @click="aturSiswa(rombel)" outlined)
                                span Kelola Siswa
                            v-btn(v-if="rombel.siswas.length > 0" color="warning" small @click="hapusSiswa(rombel)" outlined)
                                span Hapus Siswa
            FormRombel(v-if="mode == 'form'" @close="closeForm" :selectedRombel="selectedRombel")
            AturSiswa(v-if="mode=='manage'" @close="closeForm" :Rombel="selectedRombel")
        ConfirmDialog(:dialog="confirm" ref="confirm")
</template>

<style scoped>
h1.label {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 5em;
    color: white;
    transition: all .35s linear;
    cursor: pointer;
    text-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
h1.label:hover {
    transform: rotate(-15deg);
    transition: all .35s linear;
    text-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
</style>