<script>
import { Head } from '@inertiajs/vue2';
import axios from 'axios';
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
import TableSekolah from '@/Components/Sekolah/TableSekolah.vue';
import FormSekolah from '@/Components/Sekolah/FormSekolah.vue';
import ImporSekolah from '@/Components/Sekolah/ImporSekolah.vue';
export default {
    name: 'Sekolah',
    components: { DashboardLayout, Head, TableSekolah, FormSekolah, ImporSekolah },
    data: () => ({
        mode: 'list',
        selectedSekolah: null,
    }),
    methods: {
        edit(item) {
            this.selectedSekolah = item
            this.mode = 'form'
        },
    }
}
</script>

<template lang="pug">
DashboardLayout
    Head(title="Sekolah")
    v-container
        v-expand-transition
            TableSekolah(v-if="mode == 'list'" @showForm="mode = 'form'" @edit="edit" @impor="mode='impor'")
            FormSekolah(v-if="mode == 'form'" @close="mode = 'list'" :selectedSekolah="selectedSekolah")
            ImporSekolah(v-if="mode == 'impor'" @close="mode = 'list'")
</template>