<template lang="pug">
DashboardLayout
    Head(title="Guru")
    v-container 
        v-row 
            v-col(cols="12" sm="4")
                v-card 
                    v-card-title(elevation="3")
                        h3 
                            v-icon.mb-1.black--text.mr-1 mdi-menu
                            |Menu
                    v-card-text 
                        v-list 
                            v-list-item(v-for="(menu,m) in menus" :key="m")
                                v-list-item-content
                                    v-list-item-title 
                                        | {{ menu.label }} | <v-icon>{{ menu.icon }}</v-icon>
                                    v-list-item-subtitle URL: {{ menu.url }} | Parent: {{ menu.parent?.label }}
                                v-list-item-action 
                                    v-btn(color="primary" small fab elevation="0") 
                                        v-icon mdi-pencil
                            v-divider
</template>

<script setup>
import { ref, onMounted, computed } from 'vue';
import { Head, usePage } from '@inertiajs/vue2';
import axios from 'axios';

import DashboardLayout from '@/Layouts/DashboardLayout.vue';

const page = usePage();


const menus = computed(() => {
    return page.props.menuItems;
});

const list = async() => {
    await axios.post(route('setting.page'))
                .then(res => {
                    menus.value = res.data.menus;
                }).catch(err => {
                    console.log(err);
                })
}

onMounted(() => {

});
</script>