<script>
import { Head } from '@inertiajs/vue2'
import DashboardLayout from '@/Layouts/DashboardLayout.vue'
export default {
    name: 'Siswa',
    components: { DashboardLayout, Head },
    data: () => ({
        search: '',
        headers: [
            { text: 'No', value: 'no'},
            { text: 'NISN', value: 'nisn'},
            { text: 'Nama', value: 'nama'},
            { text: 'JK', value: 'jk'},
            { text: 'Rombel', value: 'rombel.label'},
        ]
    }),
    computed: {
        siswas() {
            let siswas = []
            this.$page.props.siswas.forEach((siswa, i) => {
                siswa.no = i+1
                siswas.push.siswa
            })

            return this.$page.props.siswas
        }
    }
}
</script>

<template lang="pug">
DashboardLayout(pageTitle="Siswa")
    Head(title="Siswa")
    v-container 
        v-card 
            //- p {{ $page.props.siswas }}
            v-card-text 
                v-data-table(:items="siswas" :headers="headers" :search="search")
                    template(v-slot:top)
                        v-container 
                            v-row 
                                v-col   
                                    h2 Data Siswa 
                                v-col(cols="12" sm="4") 
                                    v-text-field(label="Cari" v-model="search" append-icon="mdi-magnify" solo dense hide-details="auto" )
</template>