<script>
export default {
    props: {
        dialog: Object
    },
    data: () =>({
        show: false,
        title: '',
        text: '',
        resolve: null,
        reject: null,
        loading: false
    }),
    methods: {
        close() {
            this.show = false
            this.loading = false
        },
        open(title, text) {
            this.show = true
            this.title = title
            this.text = text

            return new Promise((resolve, reject) => {
                this.resolve = resolve
                this.reject = reject
            })
        },
        ok() {
            this.resolve(true)
            this.loading = true
            // this.show = false
        },
        no() {
            this.resolve(false)
            this.show = false
        },
    }
}
</script>

<template lang="pug">
v-dialog(v-model="show" max-width="400")
    v-card 
        v-card-title {{ title }}
        v-card-text 
            p(v-html="text" v-if="!loading")
            v-row(justify="center" v-else)
                v-progress-circular(color="error" size="70" indeterminate)
        v-card-actions 
            v-btn(color="error"  @click.native="no" :disabled="loading") Batal 
            v-spacer
            v-btn(color="primary" @click.native="ok" :disabled="loading") Lanjut
</template>