<template lang="pug">
v-container 
    v-row(v-if="mode == 'form'") 
        v-col 
            v-card
                v-card-title.pa-0    
                    v-toolbar(dense)
                        v-toolbar-title {{$helper.uppercase('Program Semester Kelas')}} {{ props.rombel.label }}
                        v-spacer
                        v-btn.mr-4(color="primary" small @click="cetak") Cetak
                        v-btn.mr-4(color="primary" small @click="simpan") Simpan
                        v-btn(fab color="red" @click="emit('close')" small)
                            v-icon.white--text mdi-close
                v-card-text.pa-4
                    //- div {{ months }}
                    div( v-if="!pembelajarans[0].materis[0].protas.length > 0") 
                        h3 Mohon Isi Program tahunan Dulu
            v-expansion-panels.mt-4(elevation-0 elevation="0" v-if="pembelajarans[0].materis[0].protas.length > 0")
                v-expansion-panel(v-for="(pbl, p) in pembelajarans" :key="pbl.id" color="success")
                    v-expansion-panel-header.font-weight-bold Bab {{pbl.kode.split("-")[3]}} {{ pbl.label }}
                    v-expansion-panel-content
                        v-list
                            v-list-item-group
                                template(v-for="(materi, m) in pbl.materis" outlined)
                                    v-list-item(two-line)
                                        v-list-item-content
                                            v-list-item-title <span v-if="m < (pbl.materis.length-1)">{{materi.kode.substr(-1)}}.</span> {{ materi.label }}: <span class="font-weight-bold">{{ materi.protas[0]?.aw }}JP</span>
                                            v-list-item-subtitle
                                                v-menu(
                                                    v-model="pickers[materi.kode]"
                                                    :close-on-content-click="true"
                                                    transition="scale-transition"
                                                    offset-y
                                                    min-width="auto"
                                                    left
                                                )
                                                    template(v-slot:activator="{ on, attrs }")
                                                        v-text-field(
                                                            v-model="prosems[materi.kode].tanggal"
                                                            label="Rencana Tanggal"
                                                            prepend-icon="mdi-calendar"
                                                            readonly
                                                            v-bind="attrs"
                                                            v-on="on")
                                                    v-date-picker(v-model="prosems[materi.kode].tanggal" locale="id" header-color="success"
                                                    @input="setProsem($event, materi.kode)" :min="page.props.periode.start" :max="page.props.periode.end" :allowed-dates="allowedDates")
                                    v-divider

    PrintProsem(v-if="mode == 'print'" @close="mode = 'form'" :rombel="props.rombel" :pembelajarans="pembelajarans" :cps="cps" :prosems="prosems")
</template>

<script setup>
import { ref, computed, onMounted, onBeforeMount } from 'vue';
import { Head, usePage } from '@inertiajs/vue2';
import axios from 'axios';
import moment from 'moment';

// import { capitalize } from '@/Plugins/helper';
import PrintProsem from '@/Components/Prosem/PrintProsem.vue'
const page = usePage();
const emit = defineEmits(['close'])
const props = defineProps({rombel:Object})
const pickers = ref([])
const cps = ref([])

const bulans = ref(['JANUARI','FEBRUARI','MARET','APRIL','MEI','JUNI','JULI','AGUSTUS','SEPTEMBER','OKTOBER','NOVEMBER','DESEMBER'])
const haris= ref(['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'])
const months = computed(() => page.props.periode.semester == '2' ? bulans.value.slice(0,6) : bulans.value.slice(6))
const disallowedDates = ([]);
const allowedDates = (val) => {
    return haris.value[moment(val).day()] === props.rombel.jadwals[0].hari && (!kaldiks.value.map(k => k.start).includes(val))
}

const setProsem = (event, kode) => {
    pickers.value[kode] = false
    prosems.value[kode].minggu_ke =  moment(event).isoWeek();
}


const efektif = (month) => {
    let events = []
    kaldiks.value.forEach(kaldik => {
        let bulan = moment(kaldik.start).month()
        if (parseInt(bulan) == bulans.value.lastIndexOf(month)+1) events.push(kaldik)
        
    })

    return events.length
}

const unefektif = (month, hari) => {
    let events = []
    kaldiks.value.forEach(kaldik => {
        let bulan = moment(kaldik.start).format('MMMM').toUpperCase()
        let day = moment(new Date(kaldik.start)).format('MMMM-MM-DD')
        // if (parseInt(bulan) == this.bulans.lastIndexOf(month)+1) {
        if (bulan == month) {
            if (new Date(kaldik.start).getDay() == haris.value.lastIndexOf(hari) && kaldik.is_libur == true) {
            // if (hari == day) {
                events.push(kaldik)
            }
            // if ()
        }
        
    })
    

    return events
}

const weeksPerMonth = (month) => {
    let monthNum = bulans.value.lastIndexOf(month)
    let year = (page.props.periode.semester == '1' ? (page.props.periode.tapel.split("/")[1]) : (page.props.periode.tapel.split("/")[0]))
    let date = moment(new Date(year+'-'+(monthNum+1)))
    let weekday = haris.value.lastIndexOf(props.rombel.jadwals[0].hari)
    let dif = (7 + (weekday - date.weekday())) % 7 + 1;
    return Math.floor((date.daysInMonth() - dif) / 7) + 1;
}

const prosems = ref([])

const pembelajarans = ref([])

const kaldiks = ref([]);

const init = async() => {
    await axios.post(route('pembelajaran.index', {_query: {rombel: props.rombel.kode_rombel}}))
                .then(res => {
                    pembelajarans.value = res.data.pembelajarans
                    cps.value = res.data.cps
                    res.data.pembelajarans.forEach((pb, p) => {
                        pb.materis.forEach((mt, m) => {
                            if(mt.prosems.length > 0) {
                                prosems.value[mt.kode] = {
                                    tanggal:mt.prosems.length > 0 ? mt.prosems[0].tanggal : null, 
                                    hari: mt.prosems ? mt.prosems[0].hari : props.rombel.jadwals[0].hari, 
                                    minggu_ke: mt.prosems ? mt.prosems[0].minggu_ke : null,
                                    id: mt.prosems.length > 0 ? mt.prosems[0].id : null
                                }
                            } else {
                                prosems.value[mt.kode] = { 
                                    tanggal: '',
                                    hari: null,
                                    minggu_ke: null,
                                    id: null
                                }
                            }
                            pickers.value[mt.kode] = false
                        })
                    })
                })

    await axios.post(route('kaldik.index', {_query: {periode: page.props.periode.kode_periode}}))
                .then(res => {
                    let events = []
                    let ranges = []
                    res.data.kaldiks.forEach((ev, e) => {
                        let rentang = moment(ev.end).date() - moment(ev.start).date()
                        ranges.push(rentang)
                        if (rentang < 1 ) {
                            events.push(ev)
                        } else {
                            let datas = []
                            for ( let h=0; h < rentang; h++ ) {
                                events.push({
                                    name : ev.name, 
                                    description: ev.description,
                                    start: moment(ev.start).add(h, 'd').format('YYYY-MM-DD'),
                                    end: moment(ev.start).add(h, 'd').format('YYYY-MM-DD'),
                                    location: ev.location,
                                    color: ev.color,
                                    user_id: ev.user_id,
                                    is_libur: ev.is_libur,
                                    is_active: ev.is_active
                                })
                            }
                        }
                    })
                    kaldiks.value = events
                }).catch(err => {
                    console.log(err)
                })
}

const simpan = async() => {
    let data = {
        rombel_id: props.rombel.kode_rombel,
        guru_id: page.props.user.guru.nip,
        prosems: prosems.value,
        hari: props.rombel.jadwals[0].hari,
        
    }
    console.log(data)
    await axios.post(route('prosem.store', { data }))
                .then(res => {
                    console.log(res)
                }).catch(err => {
                    console.log(err)
                })
}

const mode = ref('form')
const cetak = () => {
    mode.value = 'print'
}
onBeforeMount(() => {
    init();
})

</script>

<style>
@media print {
    .container {
        margin:0;
        padding: 0;
    }
}
</style>