<script setup>
import { ref, computed, onMounted } from 'vue';
import { usePage } from '@inertiajs/vue2';
import moment from 'moment';

const page = usePage()
const props = defineProps({ rombel: Object, pembelajarans: Array, cps: Array, prosems: Array});
const emit = defineEmits(['close'])


const bulans = ref(['JANUARI','FEBRUARI','MARET','APRIL','MEI','JUNI','JULI','AGUSTUS','SEPTEMBER','OKTOBER','NOVEMBER','DESEMBER'])
const haris= ref(['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'])
const months = computed(() => page.props.periode.semester == '2' ? bulans.value.slice(0,6) : bulans.value.slice(6))

const weeksPerMonth = (month) => {
    let monthNum = bulans.value.lastIndexOf(month)
    let year = (page.props.periode.semester == '1' ? (page.props.periode.tapel.split("/")[1]) : (page.props.periode.tapel.split("/")[0]))
    let date = moment(new Date(year+'-'+(monthNum+1)))
    let weekday = haris.value.lastIndexOf(props.rombel.jadwals[0].hari)
    let dif = (7 + (weekday - date.weekday())) % 7 + 1;
    return Math.floor((date.daysInMonth() - dif) / 7) + 1;
}

const allWeeks = computed(() => {
    let res = 0;
    for(let i=0; i < months.value.length; i++) {
        res += weeksPerMonth(months.value[i])
    }

    return res
})
const maketable = () => {
    let tabel = document.querySelector(".table-data")
    let tr = '';

    props.pembelajarans.forEach((pbl, pb) => {
        pbl.materis.forEach((materi,mt) => {
            tr += `<tr>
                ${(pb+mt === pb) ? '<td style="width:5%; padding: 5px; vertical-align:top;" rowspan="'+pbl.materis.length+'">'+props.cps.filter(cp => cp.kode == pbl.kode.substr(0,4))[0].elemen+'</td>': ''}
                ${(pb+mt === pb) ? '<td style="width:10%;padding: 5px; vertical-align:top;" rowspan="'+pbl.materis.length+'">'+props.cps.filter(cp => cp.kode == pbl.kode.substr(0,4))[0].teks+'</td>': ''}
                <td style="width:12%; padding: 5px;">
                    ${pb+mt === pb ? '<p style="font-weight:bold;">'+pbl.label+'</p>' : ''}
                    ${materi.label}
                </td>
                <td style="text-align:center;">
                    ${pb+mt === pb ? '<p>&nbsp;</p>' : ''}
                    ${materi.protas[0].aw}
                </td>
            `;
            for(let w=0; w < allWeeks.value; w++) {
                // tr += `<td>${w+1}</td>`
                tr += `<td style="text-align:center;background: ${materi.prosems[0].minggu_ke == (w+1) ? 'white' : '#fdfdfd'};">
                        ${(pb+mt === pb) ? '<p>&nbsp;</p>':''}
                        ${materi.prosems[0].minggu_ke == (w+1) ? '<p style="color: green; font-weight:bold;">'+(materi.prosems[0] ? materi.prosems[0].tanggal.split("-")[2] : '0')+'</p>': ''}
                    </td>`
            }

            tr +='</tr>'
        })
    });

    tabel.querySelector("tbody").innerHTML = tr
}

onMounted(() => {
    maketable()
})
</script>

<template>
<div class="print">
    <v-row >
        <v-col >
            <v-card >
                <v-card-title class="pa-0 d-print-none">
                    <v-toolbar dense>
                        <h4>Cetak</h4>
                        <v-spacer></v-spacer>
                        <v-btn fab color="error" @click="emit('close')" small>
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-toolbar>
                </v-card-title>
                <v-card-text pa-2 >
                    <h3 class="text-center">PROGRAM {{ page.props.periode.deskripsi.toUpperCase(0) }}</h3>

                    <table>
                        <tr>
                            <td>Satuan Pendidikan</td>
                            <td>:</td>
                            <td>{{ page.props.sekolahs[0].name }}</td>
                        </tr>
                        <tr>
                            <td>Kelas / Rombel</td>
                            <td>:</td>
                            <td>{{ props.rombel.label }}</td>
                        </tr>
                        <tr>
                            <td>Alokasi Waktu</td>
                            <td>:</td>
                            <td>{{ allWeeks }}</td>
                        </tr>
                    </table>
                    <br>
                    <table class="table-data" border style="width:100%; border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th class="border" rowspan="2">Elemen</th>
                                <th class="border" rowspan="2">Capaian Pembelajaran</th>
                                <th class="border" rowspan="2">Materi Pembelajaran</th>
                                <th class="border" rowspan="2">AW</th>
                                <th class="border"
                                    
                                    v-for="(bulan,b) in months" :key="b"
                                    :colspan="weeksPerMonth(bulan)"
                                >
                                    {{ bulan }} 
                                </th>
                            </tr>
                            <tr>
                                <th
                                    v-for="m in weeksPerMonth(months[0])"
                                    class="border"
                                >
                                    {{ m }}
                                </th>
                                <th
                                    v-for="m in weeksPerMonth(months[1])"
                                    class="border"
                                >
                                    {{ m }}
                                </th>
                                <th
                                    v-for="m in weeksPerMonth(months[2])"
                                    class="border"
                                >
                                    {{ m }}
                                </th>
                                <th
                                    v-for="m in weeksPerMonth(months[3])"
                                    class="border"
                                >
                                    {{ m }}
                                </th>
                                <th
                                    v-for="m in weeksPerMonth(months[4])"
                                    class="border"
                                >
                                    {{ m }}
                                </th>
                                <th
                                    v-for="m in weeksPerMonth(months[5])"
                                    class="border"
                                >
                                    {{ m }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <span v-for="(pbl, p) in props.pembelajarans" :key="pbl.kode">
                                <tr v-for="(materi, m) in pbl.materis" :key="materi.kode">
                                    <td style="width:5%;" v-if="p+m === p" :rowspan="pbl.materis.length">{{ cps[p].elemen }}</td>
                                    <td style="width:15%;" v-if="p+m === p" :rowspan="pbl.materis.length">{{ cps[p].teks }}</td>
                                    <td style="width:20%;">
                                                <p class="font-weight-bold" v-if="p+m === p">{{ pbl.kode.substr(-1) }}. {{ pbl.label }}</p>
                                                {{ materi.label }}
                                    </td>
                                    <td>
                                        <p v-if="p+m===p">{{ pbl.materis.reduce((a,c) => a + parseInt(c.protas[0]?.aw), 0) }}JP</p>
                                        {{ materi.protas[0]?.aw }} JP
                                    </td>
                                    <td 
                                        v-for="w in allWeeks"
                                        style="vertical-align: top;"
                                    >
                                        <p v-if="p+m === p">&nbsp;</p>   
                                        <p style="margin-bottom:0;"  v-if="materi.prosems[0].minggu_ke  == (w)" >{{ materi.prosems[0]? materi.prosems[0].tanggal.split("-")[2] : '0' }}</p>
                                    </td>
                                </tr>
                            </span>
                            <span v-for="(pbl, p) in props.pembelajarans" :key="pbl.kode">
                                <tr v-for="(materi, m) in pbl.materis" :key="materi.kode">
                                    <td style="width:5%;" v-if="p+m === p" :rowspan="pbl.materis.length">{{ cps[p].elemen }}</td>
                                    <td style="width:15%;" v-if="p+m === p" :rowspan="pbl.materis.length">{{ cps[p].teks }}</td>
                                    <td style="width:20%;">
                                                <p class="font-weight-bold" v-if="p+m === p">{{ pbl.kode.substr(-1) }}. {{ pbl.label }}</p>
                                                {{ materi.label }}
                                    </td>
                                    <td>
                                        <p v-if="p+m===p">{{ pbl.materis.reduce((a,c) => a + parseInt(c.protas[0]?.aw), 0) }}JP</p>
                                        {{ materi.protas[0]?.aw }} JP
                                    </td>
                                    <td 
                                        v-for="w in allWeeks"
                                        style="vertical-align: top;"
                                    >
                                        <p v-if="p+m === p">&nbsp;</p>   
                                        <p style="margin-bottom:0;"  v-if="materi.prosems[0].minggu_ke  == (w)" >{{ materi.prosems[0]? materi.prosems[0].tanggal.split("-")[2] : '0' }}</p>
                                    </td>
                                </tr>
                            </span> -->
                        </tbody>
                    </table>
                    <div class="ttd mt-10">
                        <table style="width:100%;background-color: white;">
                            <tr>
                                <td style="width: 33%; text-align:center;">
                                    <p class="mb-0">Mengetahui,</p>
                                    <p class="ma-0">Kepala Sekolah</p>
                                    <p class="mt-10 mb-0 font-weight-bold">{{page.props.sekolahs[0].nama_ks}}</p>
                                    <p class="ma-0">NIP. {{ page.props.sekolahs[0].nip_ks }}</p>
                                </td>
                                <td style="width: 33%; text-align:center;"></td>
                                <td style="width: 33%; text-align:center;">
                                    <p class="mb-0">Wagir, ................</p>
                                    <p class="ma-0">Guru PAI dan BP</p>
                                    <p class="mt-10 mb-0 font-weight-bold">{{page.props.user.guru.fullname}}</p>
                                    <p class="ma-0">NIP. {{ page.props.user.guru.nip }}</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</div>
</template>

<style scoped>
    table td,
    table table td {
        vertical-align: top;
    }

    .table-data td {
        padding: 0;
    }
    table.table-inner tr:nth-child(even) {
        background: rgb(59, 59, 59);
        color: white;
    }

    table.table-inner {
        margin: 0;
        width: 100%;
    }

    @media print {
        .print {
            width: 33cm;
            background-color: rgb(197, 196, 196);
            transform: translateX(-4.8cm);
            /* left: 0; */
        }
    }
</style>