<script>
import {  Link } from '@inertiajs/vue2';
import axios from 'axios';
import moment from 'moment'
import _ from 'lodash'
export default {
    name: 'Jadwal',
    components: {  Link },
    data: () => ({
        jadwals: [
        ],
        rombels: [],
        durasi: 35,
        jmlJam: 10,
        loading: false,
    }),
    methods: {
        async getRombels() {
            await axios.post('/rombel') 
                        .then(res => {
                            this.rombels = res.data.rombels
                        }).catch( err => {

                        })
        },
        async newJadwal(jamke, hari, rombel) {
            await axios.post('/rencana/jadwal/store', {jadwal: {jamke: jamke+1, hari: hari, rombel_id: rombel}})
                    .then(res => {
                        this.jadwals.push(res.data.jadwal)
                    }).catch(err => console.log(err))
            
        },
        async editJadwal(index, rombel, id, hari) {
            await axios.put(`/rencana/jadwal/${id}`, {jadwal: {rombel_id: rombel}})
                    .then(res => {
                        this.jadwals[index].rombel_id = rombel
                    }).catch(err => console.log(err))
        },
        async hapus(id, index){
            await axios.delete(`/rencana/jadwal/${id}`)
                    .then(res => {
                        this.list()
                    }).catch(err => console.log(err))
        },
        rombel(kode) {
            let rombels =  this.rombels.filter(rombel => rombel.kode_rombel == kode)
            return rombels.length > 0 ? rombels[0].label : null
        },
        async list() {
            await axios.post(route('jadwal'))
                    .then(res=> {
                        this.jadwals = res.data.jadwals
                        this.loading = false
                    }).catch(err => {
                        console.log(err)
                    })
        }
    },
    computed: {
        jams() {
            const start = new Date()
            const times = 10
            let res = []
            for (let i=0; i < times; i++) {
                const prints = moment(new Date(start.setHours(7,0,0)))
                        .add(35 * i, 'minutes')
                        .format('HH:mm')
                    res.push(
                        {
                            jamke: i+1,
                            waktu: prints,
                            jadwals: {}
                        }
                    )
                this.jadwals.forEach((item,j) => {
                    if(parseInt(item.jamke) == i+1) {
                        res[i]['jadwals'][item.hari] = {rombel: item.rombel_id , id: item.id, index: j}
                    } 
                })
            }

            return res
        },
    },  
    beforeMount() {
        this.loading= true
        this.getRombels()
        this.list()
    }
}
</script>

<template lang="pug">
div
    v-container
        v-card 
            v-toolbar(dense color="primary" dark)  
                v-toolbar-title Jadwal
                v-spacer
                v-btn(fab color="error" @click="$emit('close')" small elevation="0")
                    v-icon mdi-close
            v-card-title.d-flex.justify-center
                div.text-center
                    h3 Jadwal Mengajar PAI {{ route().current() }}
                    h4 {{ $page.props.sekolahs[0].name }}
                    h5 Semester {{$page.props.periode.semester}} Tahun Pelajaran {{ $page.props.periode.tapel }}
            v-card-text 
                v-skeleton-loader(v-if="loading" type="table" :loading="true")
                table(v-else width="100%" border="1" style="border-collapse: collapse;")
                    thead
                        tr  
                            th(rowspan="2") Jamke 
                            th(colspan="6") HARI
                        tr  
                            th Senin
                            th Selasa
                            th Rabu
                            th Kamis
                            th Jumat
                            th Sabtu 
                    tbody
                        tr(v-for="(jam,j) in jams" :key="j")
                            td.text-center.font-weight-black {{jam.jamke}} [{{ jam.waktu }}]
                            td.text-center(:style="`background: ${jam.jadwals.Senin ? '#55886655': ''}`") 
                                v-menu(v-if="jam.jadwals.Senin")
                                    template(v-slot:activator="{on,attrs}") 
                                        v-btn( text color="green" v-on="on" v-bind="attrs") PAI {{ rombel(jam.jadwals.Senin.rombel) }}
                                    v-list
                                        v-list-item(color="error" @click="hapus( jam.jadwals.Senin.id, jam.jadwals.Senin.index)")
                                            v-list-item-title.red--text Hapus
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="editJadwal(jam.jadwals.Senin.index, rombel.kode_rombel, jam.jadwals.Senin.id, 'Senin')")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                                v-menu(v-else)
                                    template(v-slot:activator="{on,attrs}")         
                                        v-btn(icon color="primary" v-on="on" v-bind="attrs") 
                                            v-icon mdi-plus-circle
                                    v-list
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="newJadwal(j, 'Senin', rombel.kode_rombel)")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                            td.text-center(:style="`background: ${jam.jadwals.Selasa ? '#55886655': ''}`") 
                                v-menu(v-if="jam.jadwals.Selasa")
                                    template(v-slot:activator="{on,attrs}") 
                                        v-btn( text color="green" v-on="on" v-bind="attrs") PAI {{ rombel(jam.jadwals.Selasa.rombel) }}
                                    v-list
                                        v-list-item(color="error" @click="hapus( jam.jadwals.Selasa.id)")
                                            v-list-item-title.red--text Hapus
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="editJadwal(jam.jadwals.Selasa.index, rombel.kode_rombel, jam.jadwals.Selasa.id, 'Selasa')")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                                v-menu(v-else)
                                    template(v-slot:activator="{on,attrs}")         
                                        v-btn(icon color="primary" v-on="on" v-bind="attrs") 
                                            v-icon mdi-plus-circle
                                    v-list
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="newJadwal(j, 'Selasa', rombel.kode_rombel)")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                            td.text-center(:style="`background: ${jam.jadwals.Rabu ? '#55886655': ''}`") 
                                v-menu(v-if="jam.jadwals.Rabu")
                                    template(v-slot:activator="{on,attrs}") 
                                        v-btn( text color="green" v-on="on" v-bind="attrs") PAI {{ rombel(jam.jadwals.Rabu.rombel) }}
                                    v-list
                                        v-list-item(color="error" @click="hapus( jam.jadwals.Rabu.id)")
                                            v-list-item-title.red--text Hapus
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="editJadwal(jam.jadwals.Rabu.index, rombel.kode_rombel, jam.jadwals.Rabu.id, 'Rabu')")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                                v-menu(v-else)
                                    template(v-slot:activator="{on,attrs}")         
                                        v-btn(icon color="primary" v-on="on" v-bind="attrs") 
                                            v-icon mdi-plus-circle
                                    v-list
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="newJadwal(j, 'Rabu', rombel.kode_rombel)")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                            td.text-center(:style="`background: ${jam.jadwals.Kamis ? '#55886655': ''}`") 
                                v-menu(v-if="jam.jadwals.Kamis")
                                    template(v-slot:activator="{on,attrs}") 
                                        v-btn( text color="green" v-on="on" v-bind="attrs") PAI {{ rombel(jam.jadwals.Kamis.rombel) }}
                                    v-list
                                        v-list-item(color="error" @click="hapus( jam.jadwals.Kamis.id)")
                                            v-list-item-title.red--text Hapus
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="editJadwal(jam.jadwals.Kamis.index, rombel.kode_rombel, jam.jadwals.Kamis.id, 'Kamis')")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                                v-menu(v-else)
                                    template(v-slot:activator="{on,attrs}")         
                                        v-btn(icon color="primary" v-on="on" v-bind="attrs") 
                                            v-icon mdi-plus-circle
                                    v-list
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="newJadwal(j, 'Kamis', rombel.kode_rombel)")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                            td.text-center(:style="`background: ${jam.jadwals.Jumat ? '#55886655': ''}`") 
                                v-menu(v-if="jam.jadwals.Jumat")
                                    template(v-slot:activator="{on,attrs}") 
                                        v-btn( text color="green" v-on="on" v-bind="attrs") PAI {{ rombel(jam.jadwals.Jumat.rombel) }}
                                    v-list
                                        v-list-item(color="error" @click="hapus( jam.jadwals.Jumat.id)")
                                            v-list-item-title.red--text Hapus
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="editJadwal(jam.jadwals.Jumat.index, rombel.kode_rombel, jam.jadwals.Jumat.id, 'Jumat')")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                                v-menu(v-else)
                                    template(v-slot:activator="{on,attrs}")         
                                        v-btn(icon color="primary" v-on="on" v-bind="attrs") 
                                            v-icon mdi-plus-circle
                                    v-list
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="newJadwal(j, 'Jumat', rombel.kode_rombel)")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                            td.text-center(:style="`background: ${jam.jadwals.Sabtu ? '#55886655': ''}`") 
                                v-menu(v-if="jam.jadwals.Sabtu")
                                    template(v-slot:activator="{on,attrs}") 
                                        v-btn( text color="green" v-on="on" v-bind="attrs") PAI {{ rombel(jam.jadwals.Sabtu.rombel) }}
                                    v-list
                                        v-list-item(color="error" @click="hapus( jam.jadwals.Sabtu.id)")
                                            v-list-item-title.red--text Hapus
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="editJadwal(jam.jadwals.Sabtu.index, rombel.kode_rombel, jam.jadwals.Sabtu.id, 'Sabtu')")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
                                v-menu(v-else)
                                    template(v-slot:activator="{on,attrs}")         
                                        v-btn(icon color="primary" v-on="on" v-bind="attrs") 
                                            v-icon mdi-plus-circle
                                    v-list
                                        v-list-item(v-for="(rombel, r) in rombels" :key="r" @click="newJadwal(j, 'Sabtu', rombel.kode_rombel)")
                                            v-list-item-title {{ rombel ? rombel.label : 'rombel' }}
</template>