

<script setup>
import { ref, onBeforeMount, onMounted } from 'vue';
import axios from 'axios'

const props = defineProps({rombel: Object})

const protas = ref([])
const pembelajarans  =ref([]);
const cps = ref([])
const aw = ref([])

const init = async() => {
    await axios.post(route('prota.index', {_query: {rombel:props.rombel.kode_rombel}}))
                .then(res => {
                    pembelajarans.value = res.data.pembelajarans;
                    cps.value = res.data.cps
                    protas.value = res.data.protas
                    res.data.pembelajarans.forEach((pb, p) => {
                        pb.materis.forEach((mt, m) => {
                            aw.value[mt['kode']] = mt.protas[0] ? mt.protas[0].aw : 0
                        })
                        
                    })
                }).catch(err => console.log(err));
			}

const makeTable = () => {
	let tabel = document.querySelector("#table-peta")
	let tr ='';
	pembelajarans.value.forEach((pbl, pb) => {

		pbl.materis.forEach((materi, mt) => {
			tr += `<tr>
					${(pb+mt === pb) ? '<td rowspan="'+pbl.materis.length+'">'+cps.value.filter(cp => cp.kode == pbl.kode.substr(0,4))[0].elemen+'</td>': ''}
					${(pb+mt === pb) ? '<td rowspan="'+pbl.materis.length+'">'+cps.value.filter(cp => cp.kode == pbl.kode.substr(0,4))[0].teks+'</td>': ''}
					<td>
						${pb+mt === pb ? '<p style="font-weight:bold;">'+pbl.label+'</p>' : ''}
						${materi.label}
					</td>
					<td>
						${pb+mt === pb ? '<p>&nbsp;</p>' : ''}
						${materi.protas[0].aw}
					</td>
				
				</tr>`
		})
		
	})

	tabel.querySelector("tbody").innerHTML = tr
}

onBeforeMount(async() => {
	await init();
	await makeTable();
	
})

onMounted(() => {
	
})

</script>

<template>
	<v-container>
		<v-row>
			<v-col>
				<v-card>
					<v-card-text>
						<table id="table-peta" border style="border-collapse:collapse;">
							<thead>
								<tr>
									<th>Elemen</th>
									<th>CP</th>
									<th>Materi Pembelajaran</th>
									<th>AW</th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
		
</template>