<script setup>
import { ref, onBeforeMount, computed } from 'vue';
import { usePage } from '@inertiajs/vue2';
import _ from 'lodash';
import moment from 'moment';
moment().locale('id');

const $page = usePage()

const props = defineProps({
    rombel: Object
})

const hari = ref('')
const bulans = ref(['JANUARI','FEBRUARI','MARET','APRIL','MEI','JUNI','JULI','AGUSTUS','SEPTEMBER','OKTOBER','NOVEMBER','DESEMBER']),
        haris = ref(['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu']),
        kaldiks = ref([])

// Functions/Methods
const getKaldik = async () => {
    axios.post(`/kaldik?periode=${$page.props.periode.kode_periode}`).then(res=> {
        let events = []
        let ranges = []
        res.data.kaldiks.forEach((event, i) => {
            let rentang = moment(event.end).date() - moment(event.start).date()
            ranges.push(rentang)
            if(rentang < 1) {
                events.push(event)
            } else {
                let datas = []
                for(let h=0;h<rentang;h++) {
                    events
                    .push({
                        name: event.name,
                        description: event.description,
                        start: moment(event.start).add(h,'d').format('YYYY-MM-DD'),
                        end: moment(event.start).add(h, 'd').format('YYYY-MM-DD'),
                        location: event.location,
                        color: event.color,
                        user_id: event.user_id,
                        is_libur: event.is_libur,
                        is_active: event.is_active
                    })
                }
                // events.concat(datas)
                // console.log(datas)
            }
        })
        // console.log(events)
        kaldiks.value = events
    })
}

const weeksPerMonth = (month) => {
    let monthNum = bulans.value.lastIndexOf(month)
    const tapel = $page.props.periode.tapel.split('/')
    let year = ($page.props.periode.semester == '12' ? tapel[0] : tapel[1])
    let date = moment(new Date(year+'-'+(monthNum+1)))
    let weekday = haris.value.lastIndexOf(props.rombel.jadwals[0].hari)
    let dif = (7 + (weekday - date.weekday())) % 7 + 1;
    return Math.floor((date.daysInMonth() - dif) / 7) + 1;
}

const unefektif = (month, hari) => {
    let events = []
    kaldiks.value.forEach(kaldik => {
        let bulan = bulans.value[new Date(kaldik.start).getMonth()]
        let day = haris.value[moment(kaldik.start).get('day')]
            if(bulan == month && hari == day) {
                
                events.push(kaldik)
            }
        
    })
    return events
}
// Computed
const months = computed(() => {
    return $page.props.periode.semester == '2' ? bulans.value.slice(0,6) : bulans.value.slice(6,6)
})
const jmlPekan = computed(() => {
    let total = 0
    for(let b=0; b < months.value.length; b++) {
        total += weeksPerMonth(months.value[b])
        // total += months.value[b]
    }
    return total
})
const jmlUnefektif = computed(() => {
    let total = 0
    for(let e=0; e < months.value.length;e++) {
        total += unefektif(months.value[e], props.rombel.jadwals[0].hari).length
    }

    return total
})
const tahun = computed(() => {
    let tapel = $page.props.periode.tapel.split('/')
    return $page.props.periode.semester == '1' ? tapel[0] : tapel[1]
})
// Before Mounted
onBeforeMount(() => {
    getKaldik()
})
</script>

<template lang="pug">
v-container
    v-card
        v-toolbar(dense) 
            v-toolbar-title
                h3 Rombel: {{ rombel.label }}
            v-spacer
            v-btn.mx-3(small color="primary")
                v-icon mdi-printer
                span Cetak
            v-btn(fab color="error" @click="$emit('close')" small)
                v-icon mdi-close
        v-card-text 
            v-sheet 
                h3.text-center RENCANA PEKAN EFEKTIF
                h4.text-center SEMESTER {{ $page.props.periode.semester == '1' ? 'GANJIL' : 'GENAP' }} {{ $page.props.periode.tapel }}
                v-row(justify="center")
                    v-col.mt-10(cols="8")
                        table
                            tr
                                td SATUAN PENDIDIKAN
                                td : {{ $page.props.sekolahs[0].name }}
                            tr
                                td KELAS/ROMBEL
                                td : {{rombel.label }}
                            tr
                                td MATA PELAJARAN
                                td : PENDIDIKAN AGAMA ISLAM
                            tr
                                td HARI
                                td : {{rombel.jadwals[0].hari.toUpperCase()}}

                        table.mt-5(border="1" style="border-collapse:collapse;width:100%;" )
                            thead
                                tr
                                    th(rowspan="2") NO
                                    th(rowspan="2") BULAN
                                    th(colspan="3") JML MINGGU
                                    th(rowspan="2") KETERANGAN
                                tr
                                    th JUMLAH
                                    th TDK EFEKTIF
                                    th EFEKTIF
                            tbody
                                tr(v-for="(bulan,b) in months" :key="b")
                                    td.text-center.px-1 {{ b+1 }}
                                    td.px-1 {{ bulan }}
                                    td.text-center.px-1 {{ weeksPerMonth(bulan) }}
                                    td.text-center.px-1 {{ unefektif(bulan, rombel.jadwals[0].hari).length }}
                                    td.text-center.px-1 {{ weeksPerMonth(bulan) -  unefektif(bulan, rombel.jadwals[0].hari).length}}
                                    td.px-1
                                        ul
                                            li(v-for="ev in unefektif(bulan, rombel.jadwals[0].hari)" :key="ev.id" :style="`color: ${ev.color}`") {{moment(ev.start).format('DD MMM YYYY')}}:  {{ ev.description }}
                                tr
                                    td.text-center.font-weight-bold(colspan="2") JUMLAH
                                    td.text-center.font-weight-bold {{ jmlPekan }}
                                    td.text-center.font-weight-bold {{ jmlUnefektif }}
                                    td.text-center.font-weight-bold {{ parseInt(jmlPekan) - parseInt(jmlUnefektif) }}
                v-row.mt-15
                    v-col
                        p.ma-0.pa-0.text-center &nbsp;
                        p.ma-0.pa-0.text-center Kepala Sekolah,
                        p.mt-13.mb-0.pa-0.text-decoration-underline.text-center.font-weight-bold {{ $page.props.sekolahs[0].nama_ks }}
                        p.ma-0.text-center NIP. {{ $page.props.sekolahs[0].nip_ks }} 
                    v-col
                    v-col
                        p.ma-0.pa-0.text-center {{ $page.props.sekolahs[0].kecamatan }}, ..... {{ months[0] }} {{ tahun }}
                        p.ma-0.pa-0.text-center Guru PAI
                        p.mt-13.mb-0.pa-0.text-decoration-underline.text-center.font-weight-bold {{ $page.props.user.guru.fullname }}
                        p.ma-0.text-center NIP. {{ $page.props.user.guru.nip }} 
</template>

<style scoped>
</style>