<template lang="pug">
DashboardLayout(title="Proses")
    Head(title="Proses")
    v-container 
        v-row 
            v-col 
                h1 Evaluasi
</template>

<script setup>
import { ref, computed, onBeforeMount } from 'vue';
import DashboardLayout from '@/Layouts/DashboardLayout.vue';
</script>