<script>
import axios from 'axios'
export default {
    props: {
        selectedGuru: Object
    },
    components: {  },
    data: () => ({
        guru: {
        },
        loading: false,
        foto: 'img/guru-l.png',
        fileFoto: null,
        required: [
            v => !!v || 'Harus Diisi'
        ],
        numbers: [
            v => !isNaN(v) || 'Harus Angka'
        ],
        isEmail: [
            v => /.+@.+\..+/.test(v) || 'Cek Format Email'
        ],
        valid: true,
    }),
    methods: {
        async saveGuru(){
                this.loading = true
                let fd = new FormData()
                if(this.fileFoto) fd.append('foto', this.fileFoto)
                fd.append('guru', JSON.stringify(this.guru))
                await axios({
                    method: 'post',
                    url: '/guru/store',
                    data: fd
                }).then(res => {
                    this.loading = false
                    // this.$emit('close')
                }).catch(err => {
                    this.loading = false
                    console.log(err.response.data.msg)
                })
            // }
        },
        onFotoPicked(e) {
            e.preventDefault()
            let file = e.target.files[0]
            this.foto = URL.createObjectURL(file)
            this.fileFoto = file
        },
        setDefault($event){
           
        }
    },
    beforeMount() {
        this.guru = this.selectedGuru ? this.selectedGuru : {}
        // this.logo = this.selectedSekolah ? `storage/img/logo/${this.selectedSekolah.npsn}.png` : 'img/img-placeholder.jpg'
        if(this.selectedSekolah) {
            axios({
                method: 'get',
                url: `storage/img/guru/${this.selectedGuru.nip}.jpg`
            }).then(res => this.foto = `storage/img/guru/${this.selectedGuru.nip}.jpg`)
            .catch(err => this.foto = 'img/guru-l.png')
        }
    }
}
</script>

<template lang="pug">
v-card
    v-toolbar(dense color="primary" dark)
        v-toolbar-title Formulir Guru 
        v-spacer 
        v-btn(small color="error" fab @click="$emit('close')")
            v-icon mdi-close
    v-card-text
        v-row 
            v-col
                h3
                    v-icon mdi-account-tie
                    | Data Guru
                v-divider
                v-form(@submit.prevent="saveGuru" :disabled="loading" ref="form")
                    v-container
                        v-row 
                            v-col(cols="12" sm="4") 
                                v-text-field(label="NIP" v-model="guru.nip" dense required :rules="[numbers, required].flat()" hide-details="auto")
                            v-col(cols="12" sm="4") 
                                v-text-field(label="NUPTK" v-model="guru.nuptk" dense required :rules="[numbers, required].flat()" hide-details="auto")
                            v-col(cols="12" sm="8") 
                                v-text-field(label="Nama guru" v-model="guru.fullname" dense hide-details="auto" :rules="required")
                            v-col(cols="12" sm="4") 
                                v-select(label="JK" v-model="guru.jk" dense hide-details="auto" :rules="required" :items="['Laki-laki','Perempuan']")
                            v-col(cols="12" sm="4") 
                                v-select(label="Status" v-model="guru.status" dense hide-details="auto" :rules="required" :items="['pns','gtt']")
                            v-col(cols="12" sm="4") 
                                v-select(label="Sertifikasi" v-model="guru.sertifikasi" dense hide-details="auto" :rules="required" :items="[true,false]")
                            v-col(cols="12") 
                                v-text-field(label="Alamat guru" v-model="guru.alamat" dense hide-details="auto" :rules="required")
                            v-col(cols="12" sm="4") 
                                v-text-field(label="HP" v-model="guru.hp" dense hide-details="auto")
                        v-row(justify="center")
                            v-btn(color="primary" rounded type="submit") Simpan
            v-col(cols="4") 
                h3 Foto
                v-divider
                p Klik gambar di bawah untuk mengganti Foto
                div(width="100%")
                    input.d-none(type="file" ref="foto" @change="onFotoPicked" accept=".jpg, .png, .jpeg, .JPG, .JPEG")
                    v-img(:src="foto" width="50%" @click="$refs.foto.click()")
    
    
    </template>