<script>
import axios from 'axios'
export default {
    name: 'FomAKun',
    props: {
        selectedGuru: Object
    },
    components: {  },
    data: () => ({
        guru: {
        },
        loading: false,
        foto: 'img/guru-l.png',
        fileFoto: null,
        required: [
            v => !!v || 'Harus Diisi'
        ],
        numbers: [
            v => !isNaN(v) || 'Harus Angka'
        ],
        isEmail: [
            v => /.+@.+\..+/.test(v) || 'Cek Format Email'
        ],
        valid: true,
        user: {}
    }),
    methods: {
        async createAccount() {
            await axios
                    .post('/guru/create-account', this.user)
                    .then(res => {
                        this.$emit('close')
                    }).catch(err => {
                        console.log(err)
                    })
        }
    },
    beforeMount() {
        this.guru = this.selectedGuru ? this.selectedGuru : {}
        this.user = {
            guru_id: this.selectedGuru.id, 
            level: 'gpai',
            password: '12345',
            name: this.selectedGuru.fullname,
            email: this.selectedGuru.fullname.split(' ')[0]+'@j.id'
        }
    }
}
</script>

<template lang="pug">
v-dialog(v-model="guru.id" max-width="500")
    v-card(color="success lighten-5") 
        v-toolbar(dense)
            v-toolbar-title 
                v-icon.mb-1 mdi-account-plus
                | Formulir Akun
            v-spacer 
            v-btn(fab color="error" @click="$emit('close')" small)
                v-icon mdi-close            
        v-card-text.pt-5 
            v-form(@submit.prevent="createAccount")
                v-row 
                    v-col(cols="12")
                        v-text-field(label="Username" v-model="user.name" hide-details="auto" solo :rules="required") 
                    v-col(cols="12")
                        v-text-field(label="Email" v-model="user.email" hide-details="auto" solo :rules="required, isEmail") 
                    v-col(cols="12")
                        v-text-field(label="Password" v-model="user.password" hide-details="auto" solo :rules="required") 
                    v-col(cols="12")
                        v-select(label="Level" v-model="user.level" hide-details="auto" solo :rules="required" :items="['gpai','ks', 'pengawas']") 
                    v-col(cols="12")
                        v-btn(block color="primary" type="submit") Buat Akun
                
    
    
</template>