<script>
import XLSX from 'xlsx'
export default {
    name: 'ImporGuru',
    data: ()=>({
        loading: false,
        items: [],
        headers: [
            { text: 'No', value: 'no'},
            { text: 'NIP', value: 'nip'},
            { text: 'Nama', value: 'fullname'},
            { text: 'JK', value: 'jk'},
            { text: 'Alamat', value: 'alamat'},
            { text: 'Status', value: 'status'},
            { text: 'Sertifikasi', value: 'sertifikasi'},
            { text: 'NPSN Sekolah', value: 'sekolah_id'},
        ]
    }),
    methods: {
        async onFilePicked(e) {
            this.loading = true
            const file = e.target.files[0]
            let reader = new FileReader()
            reader.onload = async (e) => {
                let wb = await XLSX.read(e.target.result)
                this.items = await XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]])
                this.loading = false
            }
            reader.readAsArrayBuffer(file)
        },
        async simpan() {
            this.loading = true
            await axios.post('/guru/impor', this.items)
                        .then(res => {
                            this.loading = false
                            this.$emit('close')
                        }).catch(err => {
                            console.log(err)
                        })
        }
    }
}
</script>

<template lang="pug">
v-container 
    v-card 
        v-toolbar(dense)
            v-toolbar-title Impor Data Guru 
            v-spacer 
            input.d-none(type="file" ref="fileGuru" @change="onFilePicked")
            v-btn.mx-2(small color="success" @click="$refs.fileGuru.click()")
                v-icon mdi-file-excel
                span Pilih File
            v-btn.mx-2(small color="warning" @click="simpan" v-if="items.length > 0" :disabled="loading")
                v-icon mdi-send
                span Kirim
            v-btn(fab small color="error" @click="$emit('close')")
                v-icon mdi-close
        v-card-text
            v-data-table(:items="items" :headers="headers" :loading="loading")
</template>