<script>
import axios  from 'axios';
export default {
    name: 'TableGuru',
    data: () => ({
        search: null,
        loading: false,
        gurus: [],
        headers: [
            { text: 'Foto', value: 'foto'},
            { text: 'Nama', value: 'fullname'},
            { text: 'Akun', value: 'akun'},
            { text: 'NIP', value: 'nip'},
            { text: 'HP', value: 'hp'},
            { text: 'Sekolah', value: 'sekolah'},
            { text: 'Opsi', value: 'opsi'},
        ],
        sekolahs: []
    }),
    mounted() {
        this.list()
    },
    methods: {
        async list() {
            this.loading = true
            await axios.post('/guru')
            .then(res => {
                this.gurus = res.data.gurus
                this.loading = false
            })
        },
        defaultImage() {
            return 'img/img-placeholder.jpg'
        },
        edit(item) {
            this.$emit('edit', item)
        },
        async hapus(item) {
            this.loading = true
            await axios.delete(`/guru/${item.id}`)
                        .then(res => {
                            this.list()
                            this.loading = false
                        })
        },
        buatAkun(item) {
            this.$emit('buatAkun', item)
        },
        hapusAkun(item) {
            axios.post(`/guru/${item.id}/remove-account`)
                .then(res => {
                    this.list()
                }).catch(err => {
                    console.log(err)
                })
        }
    }
}
</script>

<template lang="pug">
v-card 
    v-card-text
        v-data-table(:items="gurus" :headers="headers" :search="search" :loading="loading" dense) 
            template(v-slot:top)
                v-container
                    v-row
                        v-col
                            h2 Data Guru
                        v-col.d-flex.justify-end
                            v-btn(color="primary" small @click="$emit('showForm')") Tambah
                            v-btn.ml-1(color="success" small @click="$emit('impor')") Impor
                        v-col 
                            v-text-field(label="Cari" solo dense hide-details v-model="search" :append-icon="search == null ? 'mdi-magnify' : ''" :clearable="search != null ? true: false")
            template(v-slot:item.foto="{item}")
                v-avatar
                    v-img(:src="`storage/img/guru/${item.id}.jpg`" alt="Logo" @error="defaultImage")
            template(v-slot:item.fullname="{item}")
                v-btn(text color="teal" @click="edit(item)") {{ item.fullname }}
            template(v-slot:item.akun="{item}")
                span {{ item.user?.name }}
            template(v-slot:item.sekolah="{item}")
                v-menu(bottom transition="slide-x-transition" right)
                    template(v-slot:activator="{on, attrs}")
                        v-btn(color="teal" dark v-bind="attrs" v-on="on" small) {{ item.sekolah == null ? 'Sekolah' : item.sekolah.name }}
                    v-list
                        v-list-item(v-for="(sekolah, i) in sekolahs" :key="s") 
                            v-list-item-title {{sekolah.name}}
            template(v-slot:item.opsi="{item}")
                v-btn(icon color="info" small @click="buatAkun(item)" v-if="item.user == null")
                    v-icon(small) mdi-account-plus
                v-btn(icon color="warning" small @click="hapusAkun(item)" v-if="item.user != null")
                    v-icon(small) mdi-account-minus
                v-btn(icon color="success" small @click="ressetPwd(item)")
                    v-icon(small) mdi-lock-reset
                v-btn(icon color="error" small @click="hapus(item)")
                    v-icon(small) mdi-delete
</template>

