<script>
import _ from 'lodash';
import moment from 'moment';
moment().locale('id')
export default {
    name: 'FormRpe',
    props: {
        rombel: Object
    },
    data: () => ({
        hari: '',
        bulans: ['JANUARI','FEBRUARI','MARET','APRIL','MEI','JUNI','JULI','AGUSTUS','SEPTEMBER','OKTOBER','NOVEMBER','DESEMBER'],
        haris: ['Minggu','Senin','Selasa','Rabu','Kamis','Jumat','Sabtu'],
        kaldiks: [],
    }),
    methods: {
        weeksPerMonth(month) {
            let monthNum = this.bulans.lastIndexOf(month)
            const tapel = this.$page.props.periode.tapel.split('/')
            let year = (this.$page.props.periode.semester == '12' ? tapel[0] : tapel[1])
            let date = moment(new Date(year+'-'+(monthNum+1)))
            let weekday = this.haris.lastIndexOf(this.rombel.jadwals[0].hari)
            let dif = (7 + (weekday - date.weekday())) % 7 + 1;
            // let 
            return Math.floor((date.daysInMonth() - dif) / 7) + 1;
        },
        getKaldik() {
            axios.post(`/kaldik?periode=${this.$page.props.periode.kode_periode}`).then(res=> {
                let events = []
                res.data.kaldiks.forEach((event, i) => {
                    let rentang = moment(event.end).date() - moment(event.start).date()
                    for(let h=0;h<rentang;h++) {
                        events.push({
                                    name: event.name,
                                    description: event.description,
                                    start: moment(event.start).add(h,'d').format('YYYY-MM-DD'),
                                    end: moment(event.start).add(h, 'h').format('YYYY-MM-DD'),
                                    location: event.location,
                                    color: event.color,
                                    user_id: event.user_id,
                                    is_libur: event.is_libur,
                                    is_active: event.is_active
                                })
                    }
                })
                // console.log(events)
                this.kaldiks = events
            })
        },
        efektif(month) {
            let events = []
            this.kaldiks.forEach(kaldik => {
                let bulan = moment(kaldik.start).month()
                if (parseInt(bulan) == this.bulans.lastIndexOf(month)+1) events.push(kaldik)
                
            })

            return events.length
        },
        unefektif(month, hari) {
            let events = []
            this.kaldiks.forEach(kaldik => {
                let bulan = moment(this.kaldiks.start).format('MMMM').toUpperCase()
                let day = moment(new Date(kaldik.start)).format('MMMM-MM-DD')
                // if (parseInt(bulan) == this.bulans.lastIndexOf(month)+1) {
                if (bulan == month) {
                    if (new Date(kaldik.start).getDay() == this.haris.lastIndexOf(hari) && kaldik.is_libur == true) {
                    // if (hari == day) {
                        events.push(kaldik)
                    }
                    // if ()
                }
                
            })
            

            return events
        }
    },
    computed: {
        months() {
            return this.$page.props.periode.semester == '2' ? this.bulans.slice(0,6) : this.bulans.slice(6,6)
        },
        jmlPekan() {
            let total = 0
            for(let b=0; b < this.months.length; b++) {
                total += this.weeksPerMonth(this.months[b])

            }

            return total
        },
        jmlEfektif() {
            return this.jmlPekan - this.jmlUnefektif
        },
        jmlUnefektif() {
            let total = 0
            for(let e=0; e < this.months.length;e++) {
                total += this.unefektif(this.months[e], this.rombel.jadwals[0].hari).length
            }

            return total
        }, 
        tahun() {
            let tapel = this.$page.props.periode.tapel.split('/')
            return this.$page.props.periode.semester == '1' ? tapel[0] : tapel[1]
        }
        
    },
    beforeMount() {
        this.getKaldik()
    }

}
</script>

<template lang="pug">
v-container
    v-card
        v-toolbar(dense) 
            v-toolbar-title
                h3 Rombel: {{ rombel.label }}
            v-spacer
            v-btn.mx-3(small color="primary")
                v-icon mdi-printer
                span Cetak
            v-btn(fab color="error" @click="$emit('close')" small)
                v-icon mdi-close
        v-card-text 
            v-sheet 
                h3.text-center RENCANA PEKAN EFEKTIF
                h4.text-center SEMESTER {{ $page.props.periode.semester == '1' ? 'GANJIL' : 'GENAP' }} {{ $page.props.periode.tapel }}
                v-row(justify="center")
                    v-col.mt-10(cols="8")
                        table
                            tr
                                td SATUAN PENDIDIKAN
                                td : {{ $page.props.sekolahs[0].name }}
                            tr
                                td KELAS/ROMBEL
                                td : {{rombel.label }}
                            tr
                                td MATA PELAJARAN
                                td : PENDIDIKAN AGAMA ISLAM
                            tr
                                td HARI
                                td : {{rombel.jadwals[0].hari.toUpperCase()}}

                        table.mt-5(border="1" style="border-collapse:collapse;width:100%;" )
                            thead
                                tr
                                    th(rowspan="2") NO
                                    th(rowspan="2") BULAN
                                    th(colspan="3") JML MINGGU
                                    th(rowspan="2") KETERANGAN
                                tr
                                    th JUMLAH
                                    th TDK EFEKTIF
                                    th EFEKTIF
                            tbody
                                tr(v-for="(bulan,b) in months" :key="b")
                                    td.text-center.px-1 {{ b+1 }}
                                    td.px-1 {{ bulan }}
                                    td.text-center.px-1 {{ weeksPerMonth(bulan) }}
                                    td.text-center.px-1 {{ unefektif(bulan, rombel.jadwals[0].hari).length }}
                                    td.text-center.px-1 {{ weeksPerMonth(bulan) -  unefektif(bulan, rombel.jadwals[0].hari).length}}
                                    td.px-1
                                        ul
                                            li(v-for="ev in unefektif(bulan, rombel.jadwals[0].hari)" :key="ev.id") {{moment(ev.start).format('DD MMM YYYY')}}:  {{ ev.description }}
                                tr
                                    td.text-center.font-weight-bold(colspan="2") JUMLAH
                                    td.text-center.font-weight-bold {{ jmlPekan }}
                                    td.text-center.font-weight-bold {{ jmlUnefektif }}
                                    td.text-center.font-weight-bold {{ jmlEfektif }}
                v-row.mt-15
                    v-col
                        p.ma-0.pa-0.text-center &nbsp;
                        p.ma-0.pa-0.text-center Kepala Sekolah,
                        p.mt-13.mb-0.pa-0.text-decoration-underline.text-center.font-weight-bold {{ this.$page.props.sekolahs[0].nama_ks }}
                        p.ma-0.text-center NIP. {{ this.$page.props.sekolahs[0].nip_ks }} 
                    v-col
                    v-col
                        p.ma-0.pa-0.text-center {{ this.$page.props.sekolahs[0].kecamatan }}, ..... {{ this.months[0] }} {{ this.tahun }}
                        p.ma-0.pa-0.text-center Guru PAI
                        p.mt-13.mb-0.pa-0.text-decoration-underline.text-center.font-weight-bold {{ this.$page.props.user.guru.fullname }}
                        p.ma-0.text-center NIP. {{ this.$page.props.user.guru.nip }} 

                    
</template>