<template lang="pug">
v-app
    v-navigation-drawer.d-print-none(app style="background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgba(168,253,45,1) 100%);" dark :mini-variant.sync="mini" v-model="sidebar")
        
        v-sheet.d-flex.justify-center.align-center(height="150" color="#ffffff56") 
            v-avatar(size="100") 
                v-img(:src="`storage/img/guru/${$page.props.user.id}.jpg`")
        ListItem(:mini="mini")
    v-app-bar.d-print-none(app flat color="transparent" style="background:linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);") 
        v-app-bar-nav-icon(@click="sidebar = !sidebar")
        v-app-bar-title.ml-0.pl-0(v-html="`<span class='dense hidden-sm-and-down'>KKG-PAI WAGIR | </span>${pageTitle?pageTitle:'Dashboard'}`")
        v-spacer 
        v-btn(text href="logout")
            v-icon mdi-exit-to-app
            span.hidden-sm-and-down Logout 
    v-main.main(style="background:linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);" dark app) 
        v-btn.d-print-none.mini-btn.hidden-sm-and-down(fab small  color="#7adcc9" @click="mini = !mini" fixed dark :style="`left: ${mini ? '36px' : '235px'}; transition: all .1s linear;`" :class="`${!sidebar ? 'mepet': 'normal'}`")
            v-icon.ml-3 {{!mini ? 'mdi-chevron-left' : 'mdi-chevron-right'}}
        slot
</template>

<script>
import { Link } from '@inertiajs/vue2';
import ListItem from '@/Layouts/ListItem.vue'
export default {
    name: 'DashboardLayout',
    props: { pageTitle: String},
    components: { Link, ListItem },
    data: () => ({
        sidebar: null,
        mini: false
    }),
}
</script>

<style>
.dense {
    font-weight: 800;
    color: black;
    letter-spacing: 0rem;
}

.mini-btn {
    
    transition: all .35s ease-in-out;
    top: 110px;
}

.mini-btn.mepet {
    left: -40px!important;
    transition: all .5s linear;
}
/* .mini-btn:hover {
    left: -20px;
    width: 50px!important;
    transition: all .35s ease-in-out;
} */

@media print {
    html, body {
        margin: 0;
        padding: 0;
        background-color: purple;
    }
    .v-main, .main {
        padding: 0!important;
        margin: 0!important;
        background: white!important;
        left: 0!important;
        background: teal;
    }

    .v-card {
        box-shadow: none!important;
    }
}
</style>