<template lang="pug">
v-list(dense) 
    span(v-for="(menu, i) in $page.props.menus" :key="i" )
        Link(v-if="menu.children.length < 1" as="v-list-item" :href="menu.url" :class="('/'+route().current()) == menu.url ? 'active-class green--text' : ''" )
            v-list-item-icon
                v-icon(:color="('/'+route().current()) == menu.url ? 'green': 'white'") {{ menu.icon }}
            v-list-item-title {{ menu.label }} 
        v-list-group(v-if="menu.children.length > 0" :prepend-icon="menu.icon" :value="isOpen(menu)")
            template(v-slot:activator)
                v-list-item-title {{ menu.label }}
            Link.link-class(v-for="(child, c) in menu.children" :key="c" as="v-list-item" :href="child.url" :class="`${isActive(child.url) ?'active-class green--text' : ''} ${!mini ? 'pl-9' : ''}`" )
                v-list-item-icon 
                    v-icon(:color="isActive(child.url) ? 'green': 'white'") {{ child.icon }}
                v-list-item-title {{ child.label }} 

</template>

<script setup>
import { ref, computed } from 'vue';
import { Link } from '@inertiajs/vue2';

const props = defineProps({
    mini: Boolean
})

const isOpen = (menu) => {
    let urls = menu.children.map(child => child.url)
    let current = `/${route().current()}`
    return urls.includes(current) ? true : false
}

const isActive = (url) => {
    return window.location.pathname == url ? true : false
}

</script>

<style scoped>
.active-class {
    background: #efefefee;
    color: #363636;
    border-right: 5px solid green;
}
</style>